<section class="bul-category bul-completed" id="bul-category-g0" style="height: auto;">
    <h2>B.zero1</h2>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/8">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-350054-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350054-E">
                    <a href="/en-us/products/350054-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with 18 kt white gold chain and 18 kt white gold round pendant set with pavé diamonds on the edges.</p>
                    <span class="price">$ 5,750 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/9">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-346167-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="346167-E">
                    <a href="/en-us/products/346167-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with 18 kt white gold chain and pendant in 18 kt white gold set with pavé diamonds on the spiral.</p>
                    <span class="price">$ 8,650 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/10">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-350055-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350055-E">
                    <a href="/en-us/products/350055-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with 18 kt yellow gold chain and 18 kt yellow gold round pendant set with pavé diamonds on the edges.</p>
                    <span class="price">$ 5,600 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/11">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklace-BVLGARI-350056-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350056-E">
                    <a href="/en-us/products/350056-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with 18 kt rose gold chain and round pendant with two 18 kt rose gold loops set with pavé diamonds on the edges and a black ceramic spiral.</p>
                    <span class="price">$ 5,250 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/12">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-352814-E-1.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352814-E">
                    <a href="/en-us/products/352814-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with small round pendant, both in 18kt yellow gold.</p>
                    <span class="price">$ 2,800 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/13">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklace-BVLGARI-352398-E-1.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="352398-E">
                    <a href="/en-us/products/352398-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace in 18 kt rose gold with pendant in 18 kt rose and white gold.</p>
                    <span class="price">$ 3,000 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/14">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-354611-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="354611-E">
                    <a href="/en-us/products/354611-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 Design Legend necklace with 18 kt white gold chain and 18 kt white gold pendant.</p>
                    <span class="price">$ 3,050 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/15">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklace-BVLGARI-351116-E-1.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="351116-E">
                    <a href="/en-us/products/351116-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 rose gold necklace with pavé diamonds.</p>
                    <span class="price">$ 3,150 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>


    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g0/16">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-354611-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="354611-E">
                    <a href="/en-us/products/354611-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 Design Legend necklace with 18 kt white gold chain and 18 kt white gold pendant.</p>
                    <span class="price">$ 3,050 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/17">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklace-BVLGARI-350056-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350056-E">
                    <a href="/en-us/products/350056-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with 18 kt rose gold chain and round pendant with two 18 kt rose gold loops set with pavé diamonds on the edges and a black ceramic spiral.</p>
                    <span class="price">$ 5,250 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/18">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-352814-E-1.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352814-E">
                    <a href="/en-us/products/352814-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace with small round pendant, both in 18kt yellow gold.</p>
                    <span class="price">$ 2,800 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/19">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklace-BVLGARI-351117-E-1.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="351117-E">
                    <a href="/en-us/products/351117-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 18 kt rose gold necklace with round pendant in 18 kt rose gold, set with pavé diamonds on the spiral.</p>
                    <span class="price">$ 3,250 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/20">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-353002-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="353002-E">
                    <a href="/en-us/products/353002-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 18 kt rose gold sautoir with spirals in 18 kt rose gold and cermet, 18 kt rose gold and white ceramic, 18 kt rose gold and black ceramic.</p>
                    <span class="price">$ 11,700 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/21">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklace-BVLGARI-352398-E-1.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="352398-E">
                    <a href="/en-us/products/352398-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace in 18 kt rose gold with pendant in 18 kt rose and white gold.</p>
                    <span class="price">$ 3,000 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/22">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-354195-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="354195-E">
                    <a href="/en-us/products/354195-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 Design Legend four-band ring in 18 kt rose gold set with pavé diamonds (0.61 ct) on the edges.</p>
                    <span class="price">$ 5,300 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g0/23">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/z/Bzero1-Necklaces-BVLGARI-351089-E-1_v01.png" alt="B.zero1">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="351089-E">
                    <a href="/en-us/products/351089-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>B.zero1</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">B.zero1 necklace in 18 kt rose gold with 18 kt rose, yellow and white gold pendants.</p>
                    <span class="price">$ 3,500 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <a href="#" class="bul-btn-more" data-key="g0">see more (<span class="rest">8</span>)</a>
</section>
