<section class="bul-category bul-completed" id="bul-category-g1" style="height: auto;">
    <h2>Bulgari New York Collection</h2>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g1/0">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/u/BulgariNewYorkCollection-Rings-BVLGARI-AN858290-0_v05.png" alt="Bulgari New York Collection">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="AN858290">
                    <a href="/en-us/products/an858290.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Bulgari New York Collection</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Exquisitely enlightening the ancient coin with the sparkle of pavé diamonds, the Monete ring shines with the authenticity of its distinctive design.</p>
                    <div class="size-box">
                        <label for="size_g1_0">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_0" name="size" title="Size">
                                <option value="55" data-isinstock="false" data-sku="354418-E" data-price="" selected="selected">55</option>
                        </select>
                            <div class="bul-select-input" data-value="55">55</div>
                        </div>
                    </div>
                    <span class="price"></span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/1">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/u/BulgariNewYorkCollection-Rings-BVLGARI-354351-E-1_v01.png" alt="Bulgari New York Collection">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="AN858269">
                    <a href="/en-us/products/an858269.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Bulgari New York Collection</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Reimagining with daring creativity the world-renowned flag, the ring is crafted with precious blue-red-white gemstone rows that celebrate the star and stripes motif.</p>
                    <div class="size-box">
                        <label for="size_g1_1">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_1" name="size" title="Size">
                                <option value="54" data-isinstock="false" data-sku="354353-E" data-price="$ 24,100" selected="selected">54</option>
                                <option value="53" data-isinstock="false" data-sku="354352-E" data-price="$ 24,100">53</option>
                                <option value="52" data-isinstock="false" data-sku="354351-E" data-price="$ 24,100">52</option>
                        </select>
                            <div class="bul-select-input" data-value="54">54</div>
                        </div>
                    </div>
                    <span class="price">$ 24,100</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <a href="#" class="bul-btn-more" data-key="g1">see more (<span class="rest">0</span>)</a>
</section>
