<div class="bul-grid-category">
    <section class="bul-category  bul-completed" id="bul-category-g0" style="height: auto;">
        <h2>Rings</h2>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/0">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/F/e/Festa-Rings-BVLGARI-262910-E-1.png" alt="Festa">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="262910-E">
                        <a href="/en-us/products/262910-e.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Festa</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Embraced by a graceful rock crystals and pavé diamonds design, the cushion sapphire royally reigns over the Festa delle principesse ring, shining in all its preciousness. </p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/1">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Ring-BVLGARI-260505-E-1.png" alt="DIVAS’ DREAM">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="260505-E">
                        <a href="/en-us/products/260505-e.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>DIVAS’ DREAM</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Blooming with the elegance of a magnificent sapphire and diamond petals refined with emeralds, the DIVAS' DREAM ring reigns supreme in the garden of glamour. </p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell active" data-keys="g0/2">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/L/e/LeMagnificheCreazioni-Ring-BVLGARI-4073-E-1.png" alt="Le Magnifiche Creazioni">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="4073-E">
                        <a href="/en-us/products/4073-e.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Le Magnifiche Creazioni</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Heralding into a graceful design the extraordinary nature of a magnificent ruby, the Gemme straordinarie ring celebrates the beauty of unique gemstones.</p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell active" data-keys="g0/3">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/I/G/IGiardiniItaliani-Ring-BVLGARI-260994-E-1.png" alt="Giardini Italiani">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="260994-E">
                        <a href="/en-us/products/260994-e.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Giardini Italiani</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Merging the geometric lines inspired by Italian flowerbeds with the romantic twist given by the heart-shaped diamonds, the Giardini Italiani ring sparkles with natural elegance. </p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/4">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/F/e/Festa-Rings-BVLGARI-RV261-1_v04.png" alt="Infanzia">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="RV261">
                        <a href="/en-us/products/rv261.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Infanzia</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Bold in its extravagance, the Festa dell’infanzia ring shines with the intense flavours of a precious cake, crowned by an exquisite cabochon sapphire. </p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/5">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/F/e/Festa-Rings-BVLGARI-RV257-1_v04.png" alt="Infanzia">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="RV257">
                        <a href="/en-us/products/rv257.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Infanzia</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Bold in its extravagance, the Festa dell’infanzia ring shines with the intense flavours of a precious deliciousness, crowned by a cabochon emerald as the cherry on the cake. </p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/6">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-RD818-1_v04.png" alt="DIVAS’ DREAM">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="RD818">
                        <a href="/en-us/products/rd818.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>DIVAS’ DREAM</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Blooming with the gleaming sophistication of diamond petals, the DIVAS' DREAM ring shines with its delicate allure in the garden of glamour.</p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/7">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/F/i/FiorediBVLGARI-Ring-BVLGARI-263354-E-1.png" alt="Fiore di BVLGARI">
                <figcaption class="hover bul-valign-wrapper bul-halign-center">
                    <div class="bul-valign-middle-box" data-sku="RV258">
                        <a href="/en-us/products/rv258.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Fiore di BVLGARI</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Blooming with the delicacy of its shimmering pave diamonds petals, the Fiore di Bulgari ring celebrates the exquisite beauty of nature with a romantic and precious design.</p>
                        <div class="size-box">
                            <label for="size_g0_7">Size</label>
                            <div class="bul-select-wrapper"><select class="input-select" id="size_g0_7" name="size" title="Size">
                                <option value="54" data-isinstock="false" data-sku="263354-E" data-price="" selected="selected">54</option>
                        </select>
                                <div class="bul-select-input" data-value="54">54</div>
                            </div>
                        </div>
                        <span class="price"></span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/8">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/F/e/Festa-Rings-BVLGARI-RV259-1_v04.png" alt="Infanzia">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="RV259">
                        <a href="/en-us/products/rv259.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Infanzia</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Bold in its extravagance, the Festa dell’infanzia ring shines with the intense flavours of a precious deliciousness, crowned by a cabochon ruby as the cherry on the cake. </p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/9">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/L/e/LeMagnificheCreazioni-Rings-BVLGARI-RD863-1_v02.png" alt="Le Magnifiche Creazioni">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku="RD863">
                        <a href="/en-us/products/rd863.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Le Magnifiche Creazioni</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Swaying with the movement of the most sparkling diamond cascade, the Gemme straordinarie ring celebrates the extraordinary beauty of unique gemstones.</p>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g0/10">
                <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/L/e/LeMagnificheCreazioni-Ring-BVLGARI-262571-E-1.png" alt="Le Magnifiche Creazioni">
                <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                    <div class="bul-valign-middle-box" data-sku=" RD889">
                        <a href="/en-us/products/rd889.html" class="product-link out-link">
                            <hgroup>
                                <h3 class="bgr-h4">High Jewelry</h3>
                                <h3>Le Magnifiche Creazioni</h3>
                            </hgroup>
                            <div class="discover-btn-show"> Discover </div>
                        </a>
                        <p class="description">Mirroring the endless beauty of its inspiration, the Cielo di Roma ring captures in the magnificent blue diamond the unique reflections of the Eternal City’s sky, celebrating the extraordinary nature of exquisite gemstones.</p>
                        <div class="size-box">
                            <label for="size_g0_10">Size</label>
                            <div class="bul-select-wrapper"><select class="input-select" id="size_g0_10" name="size" title="Size">
                                <option value="52" data-isinstock="false" data-sku="262571-E" data-price="">52</option>
                        </select>
                                <div class="bul-select-input" data-value="52">52</div>
                            </div>
                        </div>
                        <span class="price"> </span>
                    </div>
                    <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                    <button class="btn-wish"></button>
                </figcaption>
            </figure>

        </div>
        <a href="#" class="bul-btn-more" data-key="g0">see more (<span class="rest">3</span>)</a>
    </section>
</div>
