<section class="bul-category  bul-completed" id="bul-category-g2" style="height: auto;">
    <h2>Serpenti</h2>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/0">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352725-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352725-E">
                    <a href="/en-us/products/352725-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Dangling on a precious chain refined with hexagonal pave diamonds scales, the Serpenti pendant gleams with the brilliance of its snakehead and with the attractive power of its hypnotic rubellite eyes.</p>
                    <span class="price">$ 16,000 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/1">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352723-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="352723-E">
                    <a href="/en-us/products/352723-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Crowned with hexagonal rose gold scales set with pave diamonds, the Serpenti necklace sparkles with desire and with the irresistible power of attraction of its hypnotic rubellite eyes.</p>
                    <span class="price">$ 7,450 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/2">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-353037-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="353037-E">
                    <a href="/en-us/products/353037-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">As supple and sensual as a snake, the radiant Serpenti necklace graces the décolleté with its delicate pave diamonds and rose gold scales and with the sinuosity of its precious tail.</p>
                    <span class="price">$ 34,900 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/3">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/E/SERPENTI-Necklace-BVLGARI-351090-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="351090-E">
                    <a href="/en-us/products/351090-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">As supple and sensual as a snake, the radiant Serpenti necklace graces the décolleté with its delicate and thin pave diamonds scales and with the sinuosity of its precious tail.</p>
                    <span class="price"> </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/4">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352677-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352677-E">
                    <a href="/en-us/products/352677-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Combining precious rose gold snakeheads with hexagonal malachite scales in a play of seduction, the Serpenti sautoir strikes with contemporary and distinctive charisma.</p>
                    <span class="price">$ 12,800 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell onhover active" data-keys="g2/5">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352675-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352675-E">
                    <a href="/en-us/products/352675-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Serpenti small pendant necklace in rose gold and amethyst.</p>
                    <span class="price">$ 3,100 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/6">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352748-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="352748-E">
                    <a href="/en-us/products/352748-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Crowned with hexagonal pave diamonds scales, the Serpenti necklace sparkles with desire and with the irresistible power of attraction of its hypnotic rubellite eyes.</p>
                    <span class="price">$ 12,800 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/7">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352724-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352724-E">
                    <a href="/en-us/products/352724-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">With its bold chain crafted with hexagonal rose gold and pave diamonds scales and the captivating snakehead as its centerpiece, the Serpenti necklace encircles the art of seduction.</p>
                    <span class="price">$ 40,400 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/8">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352678-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352678-E">
                    <a href="/en-us/products/352678-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Crowned with hexagonal pave diamond scales, the Serpenti necklace sparkles with desire and with the irresistible power of attraction of its hypnotic malachite eyes.</p>
                    <span class="price">$ 4,150 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/9">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-353529-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="353529-E">
                    <a href="/en-us/products/353529-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Sublimating the scales of the snake with an enchanting hexagon-motif designed with pave diamonds, the Serpenti necklace sparkles with desire and with the irresistible magnetism of its blue sapphire eyes.</p>
                    <span class="price">$ 20,400 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/10">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-352676-E-1.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352676-E">
                    <a href="/en-us/products/352676-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Celebrating the precious snakehead and the captivating qualities of its magnetic amethyst eyes, the Serpenti necklace dangles over the decolleté with the charisma of its contemporary and seductive design.</p>
                    <span class="price">$ 4,150 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/11">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Necklaces-BVLGARI-350680-E-1_v01.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="350680-E">
                    <a href="/en-us/products/350680-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Fusing the snake motif with the tubogas tecnique in new expressions of seduction, the Serpenti necklace coils around the neck with the femininity of rose gold and the glamorous sparkle of pavé diamonds.</p>
                    <span class="price"> </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <a href="#" class="bul-btn-more" data-key="g2">see more (<span class="rest">5</span>)</a>
</section>
