<section class="bul-category " id="bul-category-g4">
    <h2>BVLGARI BVLGARI</h2>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/0">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857672-0.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857672">
                <a href="/en-us/products/an857672.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI ring in 18 kt white gold with blue sapphires and tsavorite</p>
                    <div class="size-box">
                        <label for="size_g4_0">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_0" name="size" title="Size">
                                <option value="41" data-isinstock="false" data-sku="352505-E" data-price="$ 3,000" selected="selected">41</option>
                                <option value="42" data-isinstock="false" data-sku="352506-E" data-price="$ 3,000">42</option>
                                <option value="43" data-isinstock="false" data-sku="352507-E" data-price="$ 3,000">43</option>
                                <option value="44" data-isinstock="false" data-sku="352508-E" data-price="$ 3,000">44</option>
                                <option value="45" data-isinstock="false" data-sku="352509-E" data-price="$ 3,000">45</option>
                                <option value="46" data-isinstock="false" data-sku="352510-E" data-price="$ 3,000">46</option>
                                <option value="47" data-isinstock="false" data-sku="352511-E" data-price="$ 3,000">47</option>
                                <option value="48" data-isinstock="false" data-sku="352512-E" data-price="$ 3,000">48</option>
                                <option value="49" data-isinstock="false" data-sku="352513-E" data-price="$ 3,000">49</option>
                                <option value="50" data-isinstock="false" data-sku="352514-E" data-price="$ 3,000">50</option>
                                <option value="51" data-isinstock="false" data-sku="352515-E" data-price="$ 3,000">51</option>
                                <option value="52" data-isinstock="false" data-sku="352516-E" data-price="$ 3,000">52</option>
                                <option value="53" data-isinstock="false" data-sku="352517-E" data-price="$ 3,000">53</option>
                                <option value="54" data-isinstock="false" data-sku="352518-E" data-price="$ 3,000">54</option>
                                <option value="55" data-isinstock="false" data-sku="352519-E" data-price="$ 3,000">55</option>
                                <option value="56" data-isinstock="false" data-sku="352520-E" data-price="$ 3,000">56</option>
                                <option value="57" data-isinstock="false" data-sku="352521-E" data-price="$ 3,000">57</option>
                                <option value="58" data-isinstock="false" data-sku="352522-E" data-price="$ 3,000">58</option>
                                <option value="59" data-isinstock="false" data-sku="352523-E" data-price="$ 3,000">59</option>
                                <option value="60" data-isinstock="false" data-sku="352524-E" data-price="$ 3,000">60</option>
                                <option value="61" data-isinstock="false" data-sku="352525-E" data-price="$ 3,000">61</option>
                                <option value="62" data-isinstock="false" data-sku="352526-E" data-price="$ 3,000">62</option>
                                <option value="63" data-isinstock="false" data-sku="352527-E" data-price="$ 3,000">63</option>
                                <option value="64" data-isinstock="false" data-sku="352528-E" data-price="$ 3,000">64</option>
                                <option value="65" data-isinstock="false" data-sku="352529-E" data-price="$ 3,000">65</option>
                                <option value="66" data-isinstock="false" data-sku="352530-E" data-price="$ 3,000">66</option>
                                <option value="67" data-isinstock="false" data-sku="352531-E" data-price="$ 3,000">67</option>
                                <option value="68" data-isinstock="false" data-sku="352532-E" data-price="$ 3,000">68</option>
                                <option value="69" data-isinstock="false" data-sku="352533-E" data-price="$ 3,000">69</option>
                                <option value="75" data-isinstock="false" data-sku="352539-E" data-price="$ 3,000">75</option>
                                <option value="74" data-isinstock="false" data-sku="352538-E" data-price="$ 3,000">74</option>
                                <option value="73" data-isinstock="false" data-sku="352537-E" data-price="$ 3,000">73</option>
                                <option value="72" data-isinstock="false" data-sku="352536-E" data-price="$ 3,000">72</option>
                                <option value="71" data-isinstock="false" data-sku="352535-E" data-price="$ 3,000">71</option>
                                <option value="70" data-isinstock="false" data-sku="352534-E" data-price="$ 3,000">70</option>
                        </select><div class="bul-select-input" data-value="41">41</div></div>
                    </div>
                    <span class="price">$ 3,000</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/1">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857211-0_v01.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857211">
                <a href="/en-us/products/an857211.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI black ceramic and diamond ring.</p>
                    <div class="size-box">
                        <label for="size_g4_1">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_1" name="size" title="Size">
                                <option value="62" data-isinstock="true" data-sku="350509-E" data-price="$ 1,170" selected="selected">62</option>
                                <option value="69" data-isinstock="false" data-sku="350516-E" data-price="$ 1,170">69</option>
                                <option value="70" data-isinstock="false" data-sku="350517-E" data-price="$ 1,170">70</option>
                                <option value="64" data-isinstock="true" data-sku="350511-E" data-price="$ 1,170">64</option>
                                <option value="61" data-isinstock="true" data-sku="350508-E" data-price="$ 1,170">61</option>
                                <option value="60" data-isinstock="true" data-sku="350507-E" data-price="$ 1,170">60</option>
                                <option value="72" data-isinstock="false" data-sku="350519-E" data-price="$ 1,170">72</option>
                                <option value="68" data-isinstock="false" data-sku="350515-E" data-price="$ 1,170">68</option>
                                <option value="74" data-isinstock="false" data-sku="350521-E" data-price="$ 1,170">74</option>
                                <option value="66" data-isinstock="false" data-sku="350513-E" data-price="$ 1,170">66</option>
                                <option value="71" data-isinstock="false" data-sku="350518-E" data-price="$ 1,170">71</option>
                                <option value="73" data-isinstock="false" data-sku="350520-E" data-price="$ 1,170">73</option>
                                <option value="65" data-isinstock="true" data-sku="350512-E" data-price="$ 1,170">65</option>
                                <option value="67" data-isinstock="false" data-sku="350514-E" data-price="$ 1,170">67</option>
                                <option value="63" data-isinstock="true" data-sku="350510-E" data-price="$ 1,170">63</option>
                                <option value="75" data-isinstock="false" data-sku="350522-E" data-price="$ 1,170">75</option>
                                <option value="56" data-isinstock="true" data-sku="350503-E" data-price="$ 1,170">56</option>
                                <option value="45" data-isinstock="false" data-sku="350492-E" data-price="$ 1,170">45</option>
                                <option value="52" data-isinstock="true" data-sku="350499-E" data-price="$ 1,170">52</option>
                                <option value="46" data-isinstock="false" data-sku="350493-E" data-price="$ 1,170">46</option>
                                <option value="44" data-isinstock="false" data-sku="350491-E" data-price="$ 1,170">44</option>
                                <option value="57" data-isinstock="false" data-sku="350504-E" data-price="$ 1,170">57</option>
                                <option value="47" data-isinstock="false" data-sku="350494-E" data-price="$ 1,170">47</option>
                                <option value="48" data-isinstock="true" data-sku="350495-E" data-price="$ 1,170">48</option>
                                <option value="54" data-isinstock="true" data-sku="350501-E" data-price="$ 1,170">54</option>
                                <option value="51" data-isinstock="true" data-sku="350498-E" data-price="$ 1,170">51</option>
                                <option value="50" data-isinstock="false" data-sku="350497-E" data-price="$ 1,170">50</option>
                                <option value="42" data-isinstock="false" data-sku="350489-E" data-price="$ 1,170">42</option>
                                <option value="43" data-isinstock="false" data-sku="350490-E" data-price="$ 1,170">43</option>
                                <option value="58" data-isinstock="true" data-sku="350505-E" data-price="$ 1,170">58</option>
                                <option value="41" data-isinstock="false" data-sku="350488-E" data-price="$ 1,170">41</option>
                                <option value="59" data-isinstock="false" data-sku="350506-E" data-price="$ 1,170">59</option>
                                <option value="49" data-isinstock="true" data-sku="350496-E" data-price="$ 1,170">49</option>
                                <option value="55" data-isinstock="true" data-sku="350502-E" data-price="$ 1,170">55</option>
                                <option value="53" data-isinstock="true" data-sku="350500-E" data-price="$ 1,170">53</option>
                        </select><div class="bul-select-input" data-value="62">62</div></div>
                    </div>
                    <span class="price">$ 1,170</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/2">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857671-0_v06.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857671">
                <a href="/en-us/products/an857671.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI ring in 18 kt pink gold with blue sapphires and tsavorite</p>
                    <div class="size-box">
                        <label for="size_g4_2">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_2" name="size" title="Size">
                                <option value="41" data-isinstock="false" data-sku="352435-E" data-price="$ 2,850" selected="selected">41</option>
                                <option value="42" data-isinstock="false" data-sku="352436-E" data-price="$ 2,850">42</option>
                                <option value="43" data-isinstock="false" data-sku="352437-E" data-price="$ 2,850">43</option>
                                <option value="44" data-isinstock="false" data-sku="352438-E" data-price="$ 2,850">44</option>
                                <option value="45" data-isinstock="false" data-sku="352439-E" data-price="$ 2,850">45</option>
                                <option value="46" data-isinstock="false" data-sku="352440-E" data-price="$ 2,850">46</option>
                                <option value="47" data-isinstock="false" data-sku="352441-E" data-price="$ 2,850">47</option>
                                <option value="48" data-isinstock="false" data-sku="352442-E" data-price="$ 2,850">48</option>
                                <option value="49" data-isinstock="false" data-sku="352443-E" data-price="$ 2,850">49</option>
                                <option value="50" data-isinstock="true" data-sku="352444-E" data-price="$ 2,850" selected="selected">50</option>
                                <option value="51" data-isinstock="true" data-sku="352445-E" data-price="$ 2,850">51</option>
                                <option value="52" data-isinstock="false" data-sku="352446-E" data-price="$ 2,850">52</option>
                                <option value="53" data-isinstock="true" data-sku="352447-E" data-price="$ 2,850">53</option>
                                <option value="54" data-isinstock="false" data-sku="352448-E" data-price="$ 2,850">54</option>
                                <option value="55" data-isinstock="true" data-sku="352449-E" data-price="$ 2,850">55</option>
                                <option value="56" data-isinstock="false" data-sku="352450-E" data-price="$ 2,850">56</option>
                                <option value="75" data-isinstock="false" data-sku="352469-E" data-price="$ 2,850">75</option>
                                <option value="74" data-isinstock="false" data-sku="352468-E" data-price="$ 2,850">74</option>
                                <option value="73" data-isinstock="false" data-sku="352467-E" data-price="$ 2,850">73</option>
                                <option value="72" data-isinstock="false" data-sku="352466-E" data-price="$ 2,850">72</option>
                                <option value="71" data-isinstock="false" data-sku="352465-E" data-price="$ 2,850">71</option>
                                <option value="70" data-isinstock="false" data-sku="352464-E" data-price="$ 2,850">70</option>
                                <option value="69" data-isinstock="false" data-sku="352463-E" data-price="$ 2,850">69</option>
                                <option value="68" data-isinstock="false" data-sku="352462-E" data-price="$ 2,850">68</option>
                                <option value="67" data-isinstock="false" data-sku="352461-E" data-price="$ 2,850">67</option>
                                <option value="66" data-isinstock="false" data-sku="352460-E" data-price="$ 2,850">66</option>
                                <option value="65" data-isinstock="false" data-sku="352459-E" data-price="$ 2,850">65</option>
                                <option value="64" data-isinstock="false" data-sku="352458-E" data-price="$ 2,850">64</option>
                                <option value="63" data-isinstock="false" data-sku="352457-E" data-price="$ 2,850">63</option>
                                <option value="62" data-isinstock="false" data-sku="352456-E" data-price="$ 2,850">62</option>
                                <option value="61" data-isinstock="false" data-sku="352455-E" data-price="$ 2,850">61</option>
                                <option value="59" data-isinstock="false" data-sku="352453-E" data-price="$ 2,850">59</option>
                                <option value="60" data-isinstock="false" data-sku="352454-E" data-price="$ 2,850">60</option>
                                <option value="58" data-isinstock="true" data-sku="352452-E" data-price="$ 2,850">58</option>
                                <option value="57" data-isinstock="true" data-sku="352451-E" data-price="$ 2,850">57</option>
                        </select><div class="bul-select-input" data-value="50">41</div></div>
                    </div>
                    <span class="price">$ 2,850</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/3">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN858097-1_v03.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN858097">
                <a href="/en-us/products/an858097.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI band ring in 18 kt white gold with seven diamonds (0.20 ct)</p>
                    <div class="size-box">
                        <label for="size_g4_3">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_3" name="size" title="Size">
                                <option value="75" data-isinstock="false" data-sku="354023-E" data-price="$ 2,650" selected="selected">75</option>
                                <option value="74" data-isinstock="false" data-sku="354022-E" data-price="$ 2,650">74</option>
                                <option value="73" data-isinstock="false" data-sku="354021-E" data-price="$ 2,650">73</option>
                                <option value="72" data-isinstock="false" data-sku="354020-E" data-price="$ 2,650">72</option>
                                <option value="71" data-isinstock="false" data-sku="354019-E" data-price="$ 2,650">71</option>
                                <option value="70" data-isinstock="false" data-sku="354018-E" data-price="$ 2,650">70</option>
                                <option value="69" data-isinstock="false" data-sku="354017-E" data-price="$ 2,650">69</option>
                                <option value="68" data-isinstock="false" data-sku="354016-E" data-price="$ 2,650">68</option>
                                <option value="67" data-isinstock="false" data-sku="354015-E" data-price="$ 2,650">67</option>
                                <option value="41" data-isinstock="false" data-sku="353989-E" data-price="$ 2,650">41</option>
                                <option value="42" data-isinstock="false" data-sku="353990-E" data-price="$ 2,650">42</option>
                                <option value="43" data-isinstock="false" data-sku="353991-E" data-price="$ 2,650">43</option>
                                <option value="44" data-isinstock="false" data-sku="353992-E" data-price="$ 2,650">44</option>
                                <option value="45" data-isinstock="false" data-sku="353993-E" data-price="$ 2,650">45</option>
                                <option value="46" data-isinstock="false" data-sku="353994-E" data-price="$ 2,650">46</option>
                                <option value="47" data-isinstock="false" data-sku="353995-E" data-price="$ 2,650">47</option>
                                <option value="48" data-isinstock="false" data-sku="353996-E" data-price="$ 2,650">48</option>
                                <option value="49" data-isinstock="false" data-sku="353997-E" data-price="$ 2,650">49</option>
                                <option value="50" data-isinstock="false" data-sku="353998-E" data-price="$ 2,650">50</option>
                                <option value="51" data-isinstock="false" data-sku="353999-E" data-price="$ 2,650">51</option>
                                <option value="52" data-isinstock="false" data-sku="354000-E" data-price="$ 2,650">52</option>
                                <option value="53" data-isinstock="true" data-sku="354001-E" data-price="$ 2,650" selected="selected">53</option>
                                <option value="54" data-isinstock="true" data-sku="354002-E" data-price="$ 2,650">54</option>
                                <option value="55" data-isinstock="false" data-sku="354003-E" data-price="$ 2,650">55</option>
                                <option value="56" data-isinstock="true" data-sku="354004-E" data-price="$ 2,650">56</option>
                                <option value="57" data-isinstock="false" data-sku="354005-E" data-price="$ 2,650">57</option>
                                <option value="58" data-isinstock="false" data-sku="354006-E" data-price="$ 2,650">58</option>
                                <option value="59" data-isinstock="false" data-sku="354007-E" data-price="$ 2,650">59</option>
                                <option value="60" data-isinstock="false" data-sku="354008-E" data-price="$ 2,650">60</option>
                                <option value="61" data-isinstock="false" data-sku="354009-E" data-price="$ 2,650">61</option>
                                <option value="62" data-isinstock="false" data-sku="354010-E" data-price="$ 2,650">62</option>
                                <option value="63" data-isinstock="false" data-sku="354011-E" data-price="$ 2,650">63</option>
                                <option value="64" data-isinstock="false" data-sku="354012-E" data-price="$ 2,650">64</option>
                                <option value="65" data-isinstock="false" data-sku="354013-E" data-price="$ 2,650">65</option>
                                <option value="66" data-isinstock="false" data-sku="354014-E" data-price="$ 2,650">66</option>
                        </select><div class="bul-select-input" data-value="53">75</div></div>
                    </div>
                    <span class="price">$ 2,650</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/4">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857219-0_v18.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857219">
                <a href="/en-us/products/an857219.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI CUORE ring in 18 kt pink gold with pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g4_4">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_4" name="size" title="Size">
                                <option value="60" data-isinstock="false" data-sku="350800-E" data-price="$ 3,050" selected="selected">60</option>
                                <option value="46" data-isinstock="false" data-sku="350807-E" data-price="$ 3,050">46</option>
                                <option value="58" data-isinstock="false" data-sku="350798-E" data-price="$ 3,050">58</option>
                                <option value="59" data-isinstock="false" data-sku="350799-E" data-price="$ 3,050">59</option>
                                <option value="52" data-isinstock="false" data-sku="350792-E" data-price="$ 3,050">52</option>
                                <option value="65" data-isinstock="false" data-sku="350805-E" data-price="$ 3,050">65</option>
                                <option value="47" data-isinstock="false" data-sku="350808-E" data-price="$ 3,050">47</option>
                                <option value="64" data-isinstock="false" data-sku="350804-E" data-price="$ 3,050">64</option>
                                <option value="63" data-isinstock="false" data-sku="350803-E" data-price="$ 3,050">63</option>
                                <option value="61" data-isinstock="false" data-sku="350801-E" data-price="$ 3,050">61</option>
                                <option value="57" data-isinstock="false" data-sku="350797-E" data-price="$ 3,050">57</option>
                                <option value="55" data-isinstock="false" data-sku="350795-E" data-price="$ 3,050">55</option>
                                <option value="56" data-isinstock="false" data-sku="350796-E" data-price="$ 3,050">56</option>
                                <option value="54" data-isinstock="false" data-sku="350794-E" data-price="$ 3,050">54</option>
                                <option value="62" data-isinstock="false" data-sku="350802-E" data-price="$ 3,050">62</option>
                                <option value="45" data-isinstock="false" data-sku="350806-E" data-price="$ 3,050">45</option>
                                <option value="53" data-isinstock="false" data-sku="350793-E" data-price="$ 3,050">53</option>
                                <option value="51" data-isinstock="false" data-sku="350791-E" data-price="$ 3,050">51</option>
                                <option value="49" data-isinstock="false" data-sku="350789-E" data-price="$ 3,050">49</option>
                                <option value="48" data-isinstock="false" data-sku="350788-E" data-price="$ 3,050">48</option>
                                <option value="50" data-isinstock="false" data-sku="350790-E" data-price="$ 3,050">50</option>
                        </select><div class="bul-select-input" data-value="60">60</div></div>
                    </div>
                    <span class="price">$ 3,050</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>




        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/5">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857297-0_v05.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857297">
                <a href="/en-us/products/an857297.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI band ring in bronze ceramic and 18 kt pink gold with pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g4_5">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_5" name="size" title="Size">
                                <option value="48" data-isinstock="false" data-sku="350878-E" data-price="$ 2,200" selected="selected">48</option>
                                <option value="49" data-isinstock="false" data-sku="350879-E" data-price="$ 2,200">49</option>
                                <option value="50" data-isinstock="false" data-sku="350880-E" data-price="$ 2,200">50</option>
                                <option value="51" data-isinstock="true" data-sku="350881-E" data-price="$ 2,200" selected="selected">51</option>
                                <option value="52" data-isinstock="false" data-sku="350882-E" data-price="$ 2,200">52</option>
                                <option value="53" data-isinstock="false" data-sku="350883-E" data-price="$ 2,200">53</option>
                                <option value="54" data-isinstock="false" data-sku="350884-E" data-price="$ 2,200">54</option>
                                <option value="55" data-isinstock="true" data-sku="350885-E" data-price="$ 2,200">55</option>
                                <option value="56" data-isinstock="false" data-sku="350886-E" data-price="$ 2,200">56</option>
                                <option value="57" data-isinstock="false" data-sku="350887-E" data-price="$ 2,200">57</option>
                                <option value="58" data-isinstock="false" data-sku="350888-E" data-price="$ 2,200">58</option>
                                <option value="59" data-isinstock="false" data-sku="350889-E" data-price="$ 2,200">59</option>
                                <option value="60" data-isinstock="false" data-sku="350890-E" data-price="$ 2,200">60</option>
                                <option value="61" data-isinstock="false" data-sku="350891-E" data-price="$ 2,200">61</option>
                                <option value="62" data-isinstock="false" data-sku="350892-E" data-price="$ 2,200">62</option>
                                <option value="63" data-isinstock="false" data-sku="350893-E" data-price="$ 2,200">63</option>
                                <option value="64" data-isinstock="false" data-sku="350894-E" data-price="$ 2,200">64</option>
                                <option value="65" data-isinstock="false" data-sku="350895-E" data-price="$ 2,200">65</option>
                                <option value="66" data-isinstock="false" data-sku="350969-E" data-price="$ 2,200">66</option>
                                <option value="67" data-isinstock="false" data-sku="350970-E" data-price="$ 2,200">67</option>
                                <option value="68" data-isinstock="false" data-sku="350971-E" data-price="$ 2,200">68</option>
                        </select><div class="bul-select-input" data-value="51">48</div></div>
                    </div>
                    <span class="price">$ 2,200</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>




        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/6">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857670-0.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857670">
                <a href="/en-us/products/an857670.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI ring in 18 kt white gold with amethysts and pink tourmalines</p>
                    <div class="size-box">
                        <label for="size_g4_6">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_6" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="352474-E" data-price="$ 2,350" selected="selected">45</option>
                                <option value="41" data-isinstock="false" data-sku="352470-E" data-price="$ 2,350">41</option>
                                <option value="42" data-isinstock="false" data-sku="352471-E" data-price="$ 2,350">42</option>
                                <option value="43" data-isinstock="false" data-sku="352472-E" data-price="$ 2,350">43</option>
                                <option value="44" data-isinstock="false" data-sku="352473-E" data-price="$ 2,350">44</option>
                                <option value="46" data-isinstock="false" data-sku="352475-E" data-price="$ 2,350">46</option>
                                <option value="47" data-isinstock="false" data-sku="352476-E" data-price="$ 2,350">47</option>
                                <option value="48" data-isinstock="false" data-sku="352477-E" data-price="$ 2,350">48</option>
                                <option value="49" data-isinstock="false" data-sku="352478-E" data-price="$ 2,350">49</option>
                                <option value="50" data-isinstock="true" data-sku="352479-E" data-price="$ 2,350" selected="selected">50</option>
                                <option value="51" data-isinstock="true" data-sku="352480-E" data-price="$ 2,350">51</option>
                                <option value="52" data-isinstock="false" data-sku="352481-E" data-price="$ 2,350">52</option>
                                <option value="53" data-isinstock="true" data-sku="352482-E" data-price="$ 2,350">53</option>
                                <option value="54" data-isinstock="false" data-sku="352483-E" data-price="$ 2,350">54</option>
                                <option value="55" data-isinstock="true" data-sku="352484-E" data-price="$ 2,350">55</option>
                                <option value="56" data-isinstock="false" data-sku="352485-E" data-price="$ 2,350">56</option>
                                <option value="57" data-isinstock="true" data-sku="352486-E" data-price="$ 2,350">57</option>
                                <option value="58" data-isinstock="false" data-sku="352487-E" data-price="$ 2,350">58</option>
                                <option value="59" data-isinstock="true" data-sku="352488-E" data-price="$ 2,350">59</option>
                                <option value="60" data-isinstock="false" data-sku="352489-E" data-price="$ 2,350">60</option>
                                <option value="62" data-isinstock="false" data-sku="352491-E" data-price="$ 2,350">62</option>
                                <option value="61" data-isinstock="false" data-sku="352490-E" data-price="$ 2,350">61</option>
                                <option value="63" data-isinstock="false" data-sku="352492-E" data-price="$ 2,350">63</option>
                                <option value="64" data-isinstock="false" data-sku="352493-E" data-price="$ 2,350">64</option>
                                <option value="65" data-isinstock="false" data-sku="352494-E" data-price="$ 2,350">65</option>
                                <option value="66" data-isinstock="false" data-sku="352495-E" data-price="$ 2,350">66</option>
                                <option value="67" data-isinstock="false" data-sku="352496-E" data-price="$ 2,350">67</option>
                                <option value="68" data-isinstock="false" data-sku="352497-E" data-price="$ 2,350">68</option>
                                <option value="69" data-isinstock="false" data-sku="352498-E" data-price="$ 2,350">69</option>
                                <option value="70" data-isinstock="false" data-sku="352499-E" data-price="$ 2,350">70</option>
                                <option value="71" data-isinstock="false" data-sku="352500-E" data-price="$ 2,350">71</option>
                                <option value="72" data-isinstock="false" data-sku="352501-E" data-price="$ 2,350">72</option>
                                <option value="73" data-isinstock="false" data-sku="352502-E" data-price="$ 2,350">73</option>
                                <option value="74" data-isinstock="false" data-sku="352503-E" data-price="$ 2,350">74</option>
                                <option value="75" data-isinstock="false" data-sku="352504-E" data-price="$ 2,350">75</option>
                        </select><div class="bul-select-input" data-value="50">45</div></div>
                    </div>
                    <span class="price">$ 2,350</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>




        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g4/7">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/B/V/BVLGARIBVLGARI-Rings-BVLGARI-AN857171-0_v10.png" alt="BVLGARI BVLGARI">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857171">
                <a href="/en-us/products/an857171.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>BVLGARI BVLGARI</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">BVLGARI BVLGARI flip ring in 18 kt pink gold with mother of pearl and pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g4_7">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g4_7" name="size" title="Size">
                                <option value="56" data-isinstock="false" data-sku="350544-E" data-price="$ 2,500" selected="selected">56</option>
                                <option value="54" data-isinstock="false" data-sku="350542-E" data-price="$ 2,500">54</option>
                                <option value="59" data-isinstock="false" data-sku="350547-E" data-price="$ 2,500">59</option>
                                <option value="55" data-isinstock="false" data-sku="350543-E" data-price="$ 2,500">55</option>
                                <option value="57" data-isinstock="false" data-sku="350545-E" data-price="$ 2,500">57</option>
                                <option value="58" data-isinstock="false" data-sku="350546-E" data-price="$ 2,500">58</option>
                                <option value="52" data-isinstock="false" data-sku="350540-E" data-price="$ 2,500">52</option>
                                <option value="51" data-isinstock="false" data-sku="350539-E" data-price="$ 2,500">51</option>
                                <option value="60" data-isinstock="false" data-sku="350548-E" data-price="$ 2,500">60</option>
                                <option value="49" data-isinstock="false" data-sku="350537-E" data-price="$ 2,500">49</option>
                                <option value="53" data-isinstock="false" data-sku="350541-E" data-price="$ 2,500">53</option>
                                <option value="50" data-isinstock="false" data-sku="350538-E" data-price="$ 2,500">50</option>
                                <option value="48" data-isinstock="false" data-sku="350536-E" data-price="$ 2,500">48</option>
                        </select><div class="bul-select-input" data-value="56">56</div></div>
                    </div>
                    <span class="price">$ 2,500</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>




        </div>
    <a href="#" class="bul-btn-more" data-key="g4">see more (<span class="rest">14</span>)</a>
</section>
