<section class="bul-category" id="bul-category-g3" style="height: auto;">
    <h2>Serpenti</h2>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/0">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-354394-E-1_v05.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN858255">
                <a href="/en-us/products/an858255.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti ring in 18 kt white gold set with two emerald eyes (0.30 ct) and pavé diamonds (0.76 ct).</p>
                    <div class="size-box">
                        <label for="size_g3_0">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_0" name="size" title="Size">
                                <option value="65" data-isinstock="false" data-sku="354414-E" data-price="$ 12,300" selected="selected">65</option>
                                <option value="64" data-isinstock="false" data-sku="354413-E" data-price="$ 12,300">64</option>
                                <option value="63" data-isinstock="false" data-sku="354412-E" data-price="$ 12,300">63</option>
                                <option value="62" data-isinstock="false" data-sku="354411-E" data-price="$ 12,300">62</option>
                                <option value="61" data-isinstock="false" data-sku="354410-E" data-price="$ 12,300">61</option>
                                <option value="60" data-isinstock="false" data-sku="354409-E" data-price="$ 12,300">60</option>
                                <option value="59" data-isinstock="false" data-sku="354408-E" data-price="$ 12,300">59</option>
                                <option value="58" data-isinstock="false" data-sku="354407-E" data-price="$ 12,300">58</option>
                                <option value="57" data-isinstock="false" data-sku="354406-E" data-price="$ 12,300">57</option>
                                <option value="56" data-isinstock="false" data-sku="354405-E" data-price="$ 12,300">56</option>
                                <option value="55" data-isinstock="false" data-sku="354404-E" data-price="$ 12,300">55</option>
                                <option value="54" data-isinstock="false" data-sku="354403-E" data-price="$ 12,300">54</option>
                                <option value="53" data-isinstock="false" data-sku="354402-E" data-price="$ 12,300">53</option>
                                <option value="52" data-isinstock="false" data-sku="354401-E" data-price="$ 12,300">52</option>
                                <option value="51" data-isinstock="false" data-sku="354400-E" data-price="$ 12,300">51</option>
                                <option value="50" data-isinstock="false" data-sku="354399-E" data-price="$ 12,300">50</option>
                                <option value="49" data-isinstock="false" data-sku="354398-E" data-price="$ 12,300">49</option>
                                <option value="48" data-isinstock="false" data-sku="354397-E" data-price="$ 12,300">48</option>
                                <option value="47" data-isinstock="false" data-sku="354396-E" data-price="$ 12,300">47</option>
                                <option value="46" data-isinstock="false" data-sku="354395-E" data-price="$ 12,300">46</option>
                                <option value="45" data-isinstock="false" data-sku="354394-E" data-price="$ 12,300">45</option>
                        </select><div class="bul-select-input" data-value="65">65</div></div>
                    </div>
                    <span class="price">$ 12,300</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/1">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857900-0.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857900">
                <a href="/en-us/products/an857900.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt white gold set with grey mother-of-pearl elements and pavé diamonds (0.43 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_1">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_1" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353497-E" data-price="$ 4,500" selected="selected">70</option>
                                <option value="69" data-isinstock="false" data-sku="353496-E" data-price="$ 4,500">69</option>
                                <option value="68" data-isinstock="false" data-sku="353495-E" data-price="$ 4,500">68</option>
                                <option value="67" data-isinstock="false" data-sku="353494-E" data-price="$ 4,500">67</option>
                                <option value="66" data-isinstock="false" data-sku="353493-E" data-price="$ 4,500">66</option>
                                <option value="65" data-isinstock="false" data-sku="353492-E" data-price="$ 4,500">65</option>
                                <option value="64" data-isinstock="false" data-sku="353491-E" data-price="$ 4,500">64</option>
                                <option value="63" data-isinstock="false" data-sku="353490-E" data-price="$ 4,500">63</option>
                                <option value="62" data-isinstock="false" data-sku="353489-E" data-price="$ 4,500">62</option>
                                <option value="61" data-isinstock="false" data-sku="353488-E" data-price="$ 4,500">61</option>
                                <option value="60" data-isinstock="false" data-sku="353487-E" data-price="$ 4,500">60</option>
                                <option value="59" data-isinstock="false" data-sku="353486-E" data-price="$ 4,500">59</option>
                                <option value="58" data-isinstock="false" data-sku="353485-E" data-price="$ 4,500">58</option>
                                <option value="57" data-isinstock="false" data-sku="353484-E" data-price="$ 4,500">57</option>
                                <option value="56" data-isinstock="false" data-sku="353483-E" data-price="$ 4,500">56</option>
                                <option value="55" data-isinstock="false" data-sku="353482-E" data-price="$ 4,500">55</option>
                                <option value="54" data-isinstock="false" data-sku="353481-E" data-price="$ 4,500">54</option>
                                <option value="53" data-isinstock="false" data-sku="353480-E" data-price="$ 4,500">53</option>
                                <option value="52" data-isinstock="false" data-sku="353479-E" data-price="$ 4,500">52</option>
                                <option value="51" data-isinstock="false" data-sku="353478-E" data-price="$ 4,500">51</option>
                                <option value="50" data-isinstock="false" data-sku="353477-E" data-price="$ 4,500">50</option>
                                <option value="49" data-isinstock="false" data-sku="353476-E" data-price="$ 4,500">49</option>
                                <option value="48" data-isinstock="false" data-sku="353475-E" data-price="$ 4,500">48</option>
                                <option value="47" data-isinstock="false" data-sku="353474-E" data-price="$ 4,500">47</option>
                                <option value="46" data-isinstock="false" data-sku="353473-E" data-price="$ 4,500">46</option>
                                <option value="45" data-isinstock="false" data-sku="353472-E" data-price="$ 4,500">45</option>
                                <option value="44" data-isinstock="false" data-sku="353471-E" data-price="$ 4,500">44</option>
                                <option value="43" data-isinstock="false" data-sku="353470-E" data-price="$ 4,500">43</option>
                                <option value="42" data-isinstock="false" data-sku="353469-E" data-price="$ 4,500">42</option>
                                <option value="41" data-isinstock="false" data-sku="353468-E" data-price="$ 4,500">41</option>
                        </select><div class="bul-select-input" data-value="70">70</div></div>
                    </div>
                    <span class="price">$ 4,500</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/2">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857896-0_v08.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857896">
                <a href="/en-us/products/an857896.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt rose gold set with demi pavé diamonds (0.25 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_2">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_2" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353287-E" data-price="$ 2,450" selected="selected">70</option>
                                <option value="69" data-isinstock="false" data-sku="353286-E" data-price="$ 2,450">69</option>
                                <option value="68" data-isinstock="false" data-sku="353285-E" data-price="$ 2,450">68</option>
                                <option value="67" data-isinstock="false" data-sku="353284-E" data-price="$ 2,450">67</option>
                                <option value="66" data-isinstock="false" data-sku="353283-E" data-price="$ 2,450">66</option>
                                <option value="65" data-isinstock="false" data-sku="353282-E" data-price="$ 2,450">65</option>
                                <option value="64" data-isinstock="false" data-sku="353281-E" data-price="$ 2,450">64</option>
                                <option value="63" data-isinstock="false" data-sku="353280-E" data-price="$ 2,450">63</option>
                                <option value="62" data-isinstock="false" data-sku="353279-E" data-price="$ 2,450">62</option>
                                <option value="61" data-isinstock="false" data-sku="353278-E" data-price="$ 2,450">61</option>
                                <option value="60" data-isinstock="false" data-sku="353277-E" data-price="$ 2,450">60</option>
                                <option value="59" data-isinstock="false" data-sku="353276-E" data-price="$ 2,450">59</option>
                                <option value="58" data-isinstock="false" data-sku="353275-E" data-price="$ 2,450">58</option>
                                <option value="57" data-isinstock="false" data-sku="353274-E" data-price="$ 2,450">57</option>
                                <option value="56" data-isinstock="false" data-sku="353273-E" data-price="$ 2,450">56</option>
                                <option value="55" data-isinstock="true" data-sku="353272-E" data-price="$ 2,450" selected="selected">55</option>
                                <option value="54" data-isinstock="false" data-sku="353271-E" data-price="$ 2,450">54</option>
                                <option value="53" data-isinstock="true" data-sku="353270-E" data-price="$ 2,450">53</option>
                                <option value="52" data-isinstock="false" data-sku="353269-E" data-price="$ 2,450">52</option>
                                <option value="51" data-isinstock="true" data-sku="353268-E" data-price="$ 2,450">51</option>
                                <option value="50" data-isinstock="false" data-sku="353267-E" data-price="$ 2,450">50</option>
                                <option value="49" data-isinstock="false" data-sku="353266-E" data-price="$ 2,450">49</option>
                                <option value="48" data-isinstock="false" data-sku="353265-E" data-price="$ 2,450">48</option>
                                <option value="47" data-isinstock="false" data-sku="353264-E" data-price="$ 2,450">47</option>
                                <option value="46" data-isinstock="false" data-sku="353263-E" data-price="$ 2,450">46</option>
                                <option value="45" data-isinstock="false" data-sku="353262-E" data-price="$ 2,450">45</option>
                                <option value="44" data-isinstock="false" data-sku="353261-E" data-price="$ 2,450">44</option>
                                <option value="43" data-isinstock="false" data-sku="353260-E" data-price="$ 2,450">43</option>
                                <option value="42" data-isinstock="false" data-sku="353259-E" data-price="$ 2,450">42</option>
                                <option value="41" data-isinstock="false" data-sku="353258-E" data-price="$ 2,450">41</option>
                        </select><div class="bul-select-input" data-value="55">70</div></div>
                    </div>
                    <span class="price">$ 2,450</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/3">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Ring-BVLGARI-353530-E-1.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857879">
                <a href="/en-us/products/an857879.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">In a textured interpretation of the snake’s scales, the Serpenti ring gleams with its pave diamond skin and with the power of attraction of its magnetic blue sapphire eyes.</p>
                    <div class="size-box">
                        <label for="size_g3_3">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_3" name="size" title="Size">
                                <option value="65" data-isinstock="false" data-sku="353550-E" data-price="$ 10,200" selected="selected">65</option>
                                <option value="64" data-isinstock="false" data-sku="353549-E" data-price="$ 10,200">64</option>
                                <option value="63" data-isinstock="false" data-sku="353548-E" data-price="$ 10,200">63</option>
                                <option value="62" data-isinstock="false" data-sku="353547-E" data-price="$ 10,200">62</option>
                                <option value="61" data-isinstock="false" data-sku="353546-E" data-price="$ 10,200">61</option>
                                <option value="60" data-isinstock="false" data-sku="353545-E" data-price="$ 10,200">60</option>
                                <option value="59" data-isinstock="false" data-sku="353544-E" data-price="$ 10,200">59</option>
                                <option value="58" data-isinstock="false" data-sku="353543-E" data-price="$ 10,200">58</option>
                                <option value="57" data-isinstock="false" data-sku="353542-E" data-price="$ 10,200">57</option>
                                <option value="56" data-isinstock="false" data-sku="353541-E" data-price="$ 10,200">56</option>
                                <option value="55" data-isinstock="false" data-sku="353540-E" data-price="$ 10,200">55</option>
                                <option value="54" data-isinstock="false" data-sku="353539-E" data-price="$ 10,200">54</option>
                                <option value="53" data-isinstock="false" data-sku="353538-E" data-price="$ 10,200">53</option>
                                <option value="52" data-isinstock="false" data-sku="353537-E" data-price="$ 10,200">52</option>
                                <option value="51" data-isinstock="false" data-sku="353536-E" data-price="$ 10,200">51</option>
                                <option value="50" data-isinstock="false" data-sku="353535-E" data-price="$ 10,200">50</option>
                                <option value="49" data-isinstock="false" data-sku="353534-E" data-price="$ 10,200">49</option>
                                <option value="48" data-isinstock="false" data-sku="353533-E" data-price="$ 10,200">48</option>
                                <option value="47" data-isinstock="false" data-sku="353532-E" data-price="$ 10,200">47</option>
                                <option value="46" data-isinstock="false" data-sku="353531-E" data-price="$ 10,200">46</option>
                                <option value="45" data-isinstock="false" data-sku="353530-E" data-price="$ 10,200">45</option>
                        </select><div class="bul-select-input" data-value="65">65</div></div>
                    </div>
                    <span class="price">$ 10,200</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/4">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857663-1_v05.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857663">
                <a href="/en-us/products/an857663.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Merging sensuality and temptation with a hypnotic design, the Serpenti ring camouflages the snakehead with a textured interpretation of the scales, playing with the dual nature of the sacred animal. </p>
                    <div class="size-box">
                        <label for="size_g3_4">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_4" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="352727-E" data-price="$ 6,150" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="352728-E" data-price="$ 6,150">46</option>
                                <option value="47" data-isinstock="false" data-sku="352729-E" data-price="$ 6,150">47</option>
                                <option value="48" data-isinstock="false" data-sku="352730-E" data-price="$ 6,150">48</option>
                                <option value="49" data-isinstock="false" data-sku="352731-E" data-price="$ 6,150">49</option>
                                <option value="50" data-isinstock="false" data-sku="352732-E" data-price="$ 6,150">50</option>
                                <option value="51" data-isinstock="false" data-sku="352733-E" data-price="$ 6,150">51</option>
                                <option value="52" data-isinstock="false" data-sku="352734-E" data-price="$ 6,150">52</option>
                                <option value="53" data-isinstock="true" data-sku="352735-E" data-price="$ 6,150" selected="selected">53</option>
                                <option value="54" data-isinstock="false" data-sku="352736-E" data-price="$ 6,150">54</option>
                                <option value="55" data-isinstock="false" data-sku="352737-E" data-price="$ 6,150">55</option>
                                <option value="56" data-isinstock="false" data-sku="352738-E" data-price="$ 6,150">56</option>
                                <option value="57" data-isinstock="false" data-sku="352739-E" data-price="$ 6,150">57</option>
                                <option value="58" data-isinstock="false" data-sku="352740-E" data-price="$ 6,150">58</option>
                                <option value="59" data-isinstock="false" data-sku="352741-E" data-price="$ 6,150">59</option>
                                <option value="60" data-isinstock="false" data-sku="352742-E" data-price="$ 6,150">60</option>
                                <option value="61" data-isinstock="false" data-sku="352743-E" data-price="$ 6,150">61</option>
                                <option value="62" data-isinstock="false" data-sku="352744-E" data-price="$ 6,150">62</option>
                                <option value="63" data-isinstock="false" data-sku="352745-E" data-price="$ 6,150">63</option>
                                <option value="64" data-isinstock="false" data-sku="352746-E" data-price="$ 6,150">64</option>
                                <option value="65" data-isinstock="false" data-sku="352747-E" data-price="$ 6,150">65</option>
                        </select><div class="bul-select-input" data-value="53">45</div></div>
                    </div>
                    <span class="price">$ 6,150</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>


        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/5">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-349730-E-1.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN856949">
                <a href="/en-us/products/an856949.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Inspired by the snake’s mythical symbology of eternity, the Serpenti wedding bands are crafted with the iconic scales motif, coiling with the precious sparkle of pave diamonds a love story that will last forever. </p>
                    <div class="size-box">
                        <label for="size_g3_5">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_5" name="size" title="Size">
                                <option value="41" data-isinstock="false" data-sku="349730-E" data-price="$ 5,100" selected="selected">41</option>
                                <option value="42" data-isinstock="false" data-sku="349731-E" data-price="$ 5,100">42</option>
                                <option value="43" data-isinstock="false" data-sku="349732-E" data-price="$ 5,100">43</option>
                                <option value="44" data-isinstock="false" data-sku="349733-E" data-price="$ 5,100">44</option>
                                <option value="45" data-isinstock="false" data-sku="349734-E" data-price="$ 5,100">45</option>
                                <option value="46" data-isinstock="false" data-sku="349735-E" data-price="$ 5,100">46</option>
                                <option value="47" data-isinstock="false" data-sku="349736-E" data-price="$ 5,100">47</option>
                                <option value="48" data-isinstock="false" data-sku="349737-E" data-price="$ 5,100">48</option>
                                <option value="49" data-isinstock="false" data-sku="349738-E" data-price="$ 5,100">49</option>
                                <option value="50" data-isinstock="false" data-sku="349739-E" data-price="$ 5,100">50</option>
                                <option value="51" data-isinstock="false" data-sku="349740-E" data-price="$ 5,100">51</option>
                                <option value="52" data-isinstock="false" data-sku="349741-E" data-price="$ 5,100">52</option>
                                <option value="53" data-isinstock="false" data-sku="349742-E" data-price="$ 5,100">53</option>
                                <option value="54" data-isinstock="false" data-sku="349743-E" data-price="$ 5,100">54</option>
                                <option value="55" data-isinstock="false" data-sku="349744-E" data-price="$ 5,100">55</option>
                                <option value="56" data-isinstock="false" data-sku="349745-E" data-price="$ 5,100">56</option>
                                <option value="57" data-isinstock="false" data-sku="349746-E" data-price="$ 5,100">57</option>
                                <option value="58" data-isinstock="false" data-sku="349747-E" data-price="$ 5,100">58</option>
                                <option value="59" data-isinstock="false" data-sku="349748-E" data-price="$ 5,100">59</option>
                                <option value="60" data-isinstock="false" data-sku="349749-E" data-price="$ 5,100">60</option>
                                <option value="61" data-isinstock="false" data-sku="349750-E" data-price="$ 5,100">61</option>
                                <option value="62" data-isinstock="false" data-sku="349751-E" data-price="$ 5,100">62</option>
                                <option value="63" data-isinstock="false" data-sku="349752-E" data-price="$ 5,100">63</option>
                                <option value="64" data-isinstock="false" data-sku="349753-E" data-price="$ 5,100">64</option>
                                <option value="65" data-isinstock="false" data-sku="349754-E" data-price="$ 5,100">65</option>
                                <option value="66" data-isinstock="false" data-sku="349755-E" data-price="$ 5,100">66</option>
                                <option value="67" data-isinstock="false" data-sku="349756-E" data-price="$ 5,100">67</option>
                                <option value="68" data-isinstock="false" data-sku="349757-E" data-price="$ 5,100">68</option>
                                <option value="69" data-isinstock="false" data-sku="349758-E" data-price="$ 5,100">69</option>
                                <option value="70" data-isinstock="false" data-sku="349759-E" data-price="$ 5,100">70</option>
                        </select><div class="bul-select-input" data-value="41">41</div></div>
                    </div>
                    <span class="price">$ 5,100</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>


        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/6">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857926-0_v05.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857926">
                <a href="/en-us/products/an857926.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt rose gold set with carnelian elements and pavé diamonds (0.25 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_6">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_6" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353347-E" data-price="$ 3,300" selected="selected">70</option>
                                <option value="69" data-isinstock="false" data-sku="353346-E" data-price="$ 3,300">69</option>
                                <option value="68" data-isinstock="false" data-sku="353345-E" data-price="$ 3,300">68</option>
                                <option value="67" data-isinstock="false" data-sku="353344-E" data-price="$ 3,300">67</option>
                                <option value="66" data-isinstock="false" data-sku="353343-E" data-price="$ 3,300">66</option>
                                <option value="65" data-isinstock="false" data-sku="353342-E" data-price="$ 3,300">65</option>
                                <option value="64" data-isinstock="false" data-sku="353341-E" data-price="$ 3,300">64</option>
                                <option value="63" data-isinstock="false" data-sku="353340-E" data-price="$ 3,300">63</option>
                                <option value="62" data-isinstock="false" data-sku="353339-E" data-price="$ 3,300">62</option>
                                <option value="61" data-isinstock="false" data-sku="353338-E" data-price="$ 3,300">61</option>
                                <option value="60" data-isinstock="false" data-sku="353337-E" data-price="$ 3,300">60</option>
                                <option value="59" data-isinstock="false" data-sku="353336-E" data-price="$ 3,300">59</option>
                                <option value="58" data-isinstock="false" data-sku="353335-E" data-price="$ 3,300">58</option>
                                <option value="57" data-isinstock="false" data-sku="353334-E" data-price="$ 3,300">57</option>
                                <option value="56" data-isinstock="false" data-sku="353333-E" data-price="$ 3,300">56</option>
                                <option value="55" data-isinstock="false" data-sku="353332-E" data-price="$ 3,300">55</option>
                                <option value="54" data-isinstock="false" data-sku="353331-E" data-price="$ 3,300">54</option>
                                <option value="53" data-isinstock="true" data-sku="353330-E" data-price="$ 3,300" selected="selected">53</option>
                                <option value="52" data-isinstock="false" data-sku="353329-E" data-price="$ 3,300">52</option>
                                <option value="51" data-isinstock="true" data-sku="353328-E" data-price="$ 3,300">51</option>
                                <option value="50" data-isinstock="false" data-sku="353327-E" data-price="$ 3,300">50</option>
                                <option value="49" data-isinstock="false" data-sku="353326-E" data-price="$ 3,300">49</option>
                                <option value="48" data-isinstock="false" data-sku="353325-E" data-price="$ 3,300">48</option>
                                <option value="47" data-isinstock="false" data-sku="353324-E" data-price="$ 3,300">47</option>
                                <option value="46" data-isinstock="false" data-sku="353323-E" data-price="$ 3,300">46</option>
                                <option value="45" data-isinstock="false" data-sku="353322-E" data-price="$ 3,300">45</option>
                                <option value="44" data-isinstock="false" data-sku="353321-E" data-price="$ 3,300">44</option>
                                <option value="43" data-isinstock="false" data-sku="353320-E" data-price="$ 3,300">43</option>
                                <option value="42" data-isinstock="false" data-sku="353319-E" data-price="$ 3,300">42</option>
                                <option value="41" data-isinstock="false" data-sku="353318-E" data-price="$ 3,300">41</option>
                        </select><div class="bul-select-input" data-value="53">70</div></div>
                    </div>
                    <span class="price">$ 3,300</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>


        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g3/7">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857719-1_v05.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857719">
                <a href="/en-us/products/an857719.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Crafted with a rose gold hexagonal scales design set with pavé diamonds, the Serpenti ring sparkles with desire and with the irresistible power of attraction of its hypnotic rubellite eyes.</p>
                    <div class="size-box">
                        <label for="size_g3_7">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_7" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="352702-E" data-price="$ 4,150" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="352703-E" data-price="$ 4,150">46</option>
                                <option value="47" data-isinstock="false" data-sku="352704-E" data-price="$ 4,150">47</option>
                                <option value="48" data-isinstock="false" data-sku="352705-E" data-price="$ 4,150">48</option>
                                <option value="49" data-isinstock="false" data-sku="352706-E" data-price="$ 4,150">49</option>
                                <option value="50" data-isinstock="false" data-sku="352707-E" data-price="$ 4,150">50</option>
                                <option value="51" data-isinstock="true" data-sku="352708-E" data-price="$ 4,150" selected="selected">51</option>
                                <option value="52" data-isinstock="false" data-sku="352709-E" data-price="$ 4,150">52</option>
                                <option value="53" data-isinstock="true" data-sku="352710-E" data-price="$ 4,150">53</option>
                                <option value="54" data-isinstock="false" data-sku="352711-E" data-price="$ 4,150">54</option>
                                <option value="55" data-isinstock="true" data-sku="352712-E" data-price="$ 4,150">55</option>
                                <option value="56" data-isinstock="false" data-sku="352713-E" data-price="$ 4,150">56</option>
                                <option value="57" data-isinstock="false" data-sku="352714-E" data-price="$ 4,150">57</option>
                                <option value="58" data-isinstock="false" data-sku="352715-E" data-price="$ 4,150">58</option>
                                <option value="59" data-isinstock="false" data-sku="352716-E" data-price="$ 4,150">59</option>
                                <option value="60" data-isinstock="false" data-sku="352717-E" data-price="$ 4,150">60</option>
                                <option value="61" data-isinstock="false" data-sku="352718-E" data-price="$ 4,150">61</option>
                                <option value="62" data-isinstock="false" data-sku="352719-E" data-price="$ 4,150">62</option>
                                <option value="63" data-isinstock="false" data-sku="352720-E" data-price="$ 4,150">63</option>
                                <option value="64" data-isinstock="false" data-sku="352721-E" data-price="$ 4,150">64</option>
                                <option value="65" data-isinstock="false" data-sku="352722-E" data-price="$ 4,150">65</option>
                        </select><div class="bul-select-input" data-value="51">45</div></div>
                    </div>
                    <span class="price">$ 4,150</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>


        </div>
        <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/8">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-349640-E-1.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center ">
            <div class="bul-valign-middle-box" data-sku="AN856868">
                <a href="/en-us/products/an856868.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti wedding band in 18 kt rose gold.</p>
                    <div class="size-box">
                        <label for="size_g3_8">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_8" name="size" title="Size">
                                <option value="41" data-isinstock="false" data-sku="349640-E" data-price="$ 1,400">41</option>
                                <option value="42" data-isinstock="false" data-sku="349641-E" data-price="$ 1,400">42</option>
                                <option value="43" data-isinstock="false" data-sku="349642-E" data-price="$ 1,400">43</option>
                                <option value="44" data-isinstock="false" data-sku="349643-E" data-price="$ 1,400">44</option>
                                <option value="45" data-isinstock="false" data-sku="349644-E" data-price="$ 1,400">45</option>
                                <option value="46" data-isinstock="false" data-sku="349645-E" data-price="$ 1,400">46</option>
                                <option value="47" data-isinstock="false" data-sku="349646-E" data-price="$ 1,400">47</option>
                                <option value="48" data-isinstock="false" data-sku="349647-E" data-price="$ 1,400">48</option>
                                <option value="49" data-isinstock="false" data-sku="349648-E" data-price="$ 1,400">49</option>
                                <option value="50" data-isinstock="false" data-sku="349649-E" data-price="$ 1,400">50</option>
                                <option value="51" data-isinstock="false" data-sku="349650-E" data-price="$ 1,400">51</option>
                                <option value="52" data-isinstock="false" data-sku="349651-E" data-price="$ 1,400">52</option>
                                <option value="53" data-isinstock="false" data-sku="349652-E" data-price="$ 1,400">53</option>
                                <option value="54" data-isinstock="false" data-sku="349653-E" data-price="$ 1,400">54</option>
                                <option value="55" data-isinstock="false" data-sku="349654-E" data-price="$ 1,400">55</option>
                                <option value="56" data-isinstock="false" data-sku="349655-E" data-price="$ 1,400">56</option>
                                <option value="57" data-isinstock="false" data-sku="349656-E" data-price="$ 1,400">57</option>
                                <option value="58" data-isinstock="false" data-sku="349657-E" data-price="$ 1,400">58</option>
                                <option value="59" data-isinstock="false" data-sku="349658-E" data-price="$ 1,400">59</option>
                                <option value="60" data-isinstock="false" data-sku="349659-E" data-price="$ 1,400">60</option>
                                <option value="61" data-isinstock="false" data-sku="349660-E" data-price="$ 1,400">61</option>
                                <option value="62" data-isinstock="false" data-sku="349661-E" data-price="$ 1,400">62</option>
                                <option value="63" data-isinstock="false" data-sku="349662-E" data-price="$ 1,400">63</option>
                                <option value="64" data-isinstock="false" data-sku="349663-E" data-price="$ 1,400">64</option>
                                <option value="65" data-isinstock="false" data-sku="349664-E" data-price="$ 1,400">65</option>
                                <option value="66" data-isinstock="false" data-sku="349665-E" data-price="$ 1,400">66</option>
                                <option value="67" data-isinstock="false" data-sku="349666-E" data-price="$ 1,400">67</option>
                                <option value="68" data-isinstock="false" data-sku="349667-E" data-price="$ 1,400">68</option>
                                <option value="69" data-isinstock="false" data-sku="349668-E" data-price="$ 1,400">69</option>
                                <option value="70" data-isinstock="false" data-sku="349669-E" data-price="$ 1,400">70</option>
                        </select><div class="bul-select-input" data-value="41">41</div></div>
                    </div>
                    <span class="price">Price from $ 1,400 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g3/9">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857898-0_v03.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857898">
                <a href="/en-us/products/an857898.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt white gold set with demi pavé diamonds (0.25 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_9">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_9" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353407-E" data-price="$ 2,550">70</option>
                                <option value="69" data-isinstock="false" data-sku="353406-E" data-price="$ 2,550">69</option>
                                <option value="68" data-isinstock="false" data-sku="353405-E" data-price="$ 2,550">68</option>
                                <option value="67" data-isinstock="false" data-sku="353404-E" data-price="$ 2,550">67</option>
                                <option value="66" data-isinstock="false" data-sku="353403-E" data-price="$ 2,550">66</option>
                                <option value="65" data-isinstock="false" data-sku="353402-E" data-price="$ 2,550">65</option>
                                <option value="64" data-isinstock="false" data-sku="353401-E" data-price="$ 2,550">64</option>
                                <option value="63" data-isinstock="false" data-sku="353400-E" data-price="$ 2,550">63</option>
                                <option value="62" data-isinstock="false" data-sku="353399-E" data-price="$ 2,550">62</option>
                                <option value="61" data-isinstock="false" data-sku="353398-E" data-price="$ 2,550">61</option>
                                <option value="60" data-isinstock="false" data-sku="353397-E" data-price="$ 2,550">60</option>
                                <option value="59" data-isinstock="false" data-sku="353396-E" data-price="$ 2,550">59</option>
                                <option value="58" data-isinstock="false" data-sku="353395-E" data-price="$ 2,550">58</option>
                                <option value="57" data-isinstock="false" data-sku="353394-E" data-price="$ 2,550">57</option>
                                <option value="56" data-isinstock="false" data-sku="353393-E" data-price="$ 2,550">56</option>
                                <option value="55" data-isinstock="false" data-sku="353392-E" data-price="$ 2,550">55</option>
                                <option value="54" data-isinstock="true" data-sku="353391-E" data-price="$ 2,550" selected="selected">54</option>
                                <option value="53" data-isinstock="false" data-sku="353390-E" data-price="$ 2,550">53</option>
                                <option value="52" data-isinstock="true" data-sku="353389-E" data-price="$ 2,550">52</option>
                                <option value="51" data-isinstock="false" data-sku="353388-E" data-price="$ 2,550">51</option>
                                <option value="50" data-isinstock="true" data-sku="353387-E" data-price="$ 2,550">50</option>
                                <option value="49" data-isinstock="false" data-sku="353386-E" data-price="$ 2,550">49</option>
                                <option value="48" data-isinstock="false" data-sku="353385-E" data-price="$ 2,550">48</option>
                                <option value="47" data-isinstock="false" data-sku="353384-E" data-price="$ 2,550">47</option>
                                <option value="46" data-isinstock="false" data-sku="353383-E" data-price="$ 2,550">46</option>
                                <option value="45" data-isinstock="false" data-sku="353382-E" data-price="$ 2,550">45</option>
                                <option value="44" data-isinstock="false" data-sku="353381-E" data-price="$ 2,550">44</option>
                                <option value="43" data-isinstock="false" data-sku="353380-E" data-price="$ 2,550">43</option>
                                <option value="42" data-isinstock="false" data-sku="353379-E" data-price="$ 2,550">42</option>
                                <option value="41" data-isinstock="false" data-sku="353378-E" data-price="$ 2,550">41</option>
                        </select><div class="bul-select-input" data-value="54">54</div></div>
                    </div>
                    <span class="price">$ 2,550 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/10">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857656-1_v05.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857656">
                <a href="/en-us/products/an857656.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Celebrating the precious snakehead and the captivating qualities of its magnetic amethyst eyes, the Serpenti ring seduces with the charisma of its contemporary and distinctive design.</p>
                    <div class="size-box">
                        <label for="size_g3_10">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_10" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="352654-E" data-price="$ 2,150">45</option>
                                <option value="46" data-isinstock="false" data-sku="352655-E" data-price="$ 2,150">46</option>
                                <option value="47" data-isinstock="false" data-sku="352656-E" data-price="$ 2,150">47</option>
                                <option value="48" data-isinstock="false" data-sku="352657-E" data-price="$ 2,150">48</option>
                                <option value="49" data-isinstock="false" data-sku="352658-E" data-price="$ 2,150">49</option>
                                <option value="50" data-isinstock="true" data-sku="352659-E" data-price="$ 2,150" selected="selected">50</option>
                                <option value="51" data-isinstock="false" data-sku="352660-E" data-price="$ 2,150">51</option>
                                <option value="52" data-isinstock="true" data-sku="352661-E" data-price="$ 2,150">52</option>
                                <option value="53" data-isinstock="false" data-sku="352662-E" data-price="$ 2,150">53</option>
                                <option value="54" data-isinstock="true" data-sku="352663-E" data-price="$ 2,150">54</option>
                                <option value="55" data-isinstock="false" data-sku="352664-E" data-price="$ 2,150">55</option>
                                <option value="56" data-isinstock="false" data-sku="352665-E" data-price="$ 2,150">56</option>
                                <option value="57" data-isinstock="false" data-sku="352666-E" data-price="$ 2,150">57</option>
                                <option value="58" data-isinstock="false" data-sku="352667-E" data-price="$ 2,150">58</option>
                                <option value="59" data-isinstock="false" data-sku="352668-E" data-price="$ 2,150">59</option>
                                <option value="60" data-isinstock="false" data-sku="352669-E" data-price="$ 2,150">60</option>
                                <option value="61" data-isinstock="false" data-sku="352670-E" data-price="$ 2,150">61</option>
                                <option value="62" data-isinstock="false" data-sku="352671-E" data-price="$ 2,150">62</option>
                                <option value="63" data-isinstock="false" data-sku="352672-E" data-price="$ 2,150">63</option>
                                <option value="64" data-isinstock="false" data-sku="352673-E" data-price="$ 2,150">64</option>
                                <option value="65" data-isinstock="false" data-sku="352674-E" data-price="$ 2,150">65</option>
                        </select><div class="bul-select-input" data-value="50">50</div></div>
                    </div>
                    <span class="price">$ 2,150 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/11">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857934-0.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center ">
            <div class="bul-valign-middle-box" data-sku="AN857934">
                <a href="/en-us/products/an857934.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt white gold set with grey mother-of-pearl elements and pavé diamonds (0.25 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_11">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_11" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353467-E" data-price="$ 3,400">70</option>
                                <option value="69" data-isinstock="false" data-sku="353466-E" data-price="$ 3,400">69</option>
                                <option value="68" data-isinstock="false" data-sku="353465-E" data-price="$ 3,400">68</option>
                                <option value="67" data-isinstock="false" data-sku="353464-E" data-price="$ 3,400">67</option>
                                <option value="66" data-isinstock="false" data-sku="353463-E" data-price="$ 3,400">66</option>
                                <option value="65" data-isinstock="false" data-sku="353462-E" data-price="$ 3,400">65</option>
                                <option value="64" data-isinstock="false" data-sku="353461-E" data-price="$ 3,400">64</option>
                                <option value="63" data-isinstock="false" data-sku="353460-E" data-price="$ 3,400">63</option>
                                <option value="62" data-isinstock="false" data-sku="353459-E" data-price="$ 3,400">62</option>
                                <option value="61" data-isinstock="false" data-sku="353458-E" data-price="$ 3,400">61</option>
                                <option value="60" data-isinstock="false" data-sku="353457-E" data-price="$ 3,400">60</option>
                                <option value="59" data-isinstock="false" data-sku="353456-E" data-price="$ 3,400">59</option>
                                <option value="58" data-isinstock="false" data-sku="353455-E" data-price="$ 3,400">58</option>
                                <option value="57" data-isinstock="false" data-sku="353454-E" data-price="$ 3,400">57</option>
                                <option value="56" data-isinstock="false" data-sku="353453-E" data-price="$ 3,400">56</option>
                                <option value="55" data-isinstock="false" data-sku="353452-E" data-price="$ 3,400">55</option>
                                <option value="54" data-isinstock="false" data-sku="353451-E" data-price="$ 3,400">54</option>
                                <option value="53" data-isinstock="false" data-sku="353450-E" data-price="$ 3,400">53</option>
                                <option value="52" data-isinstock="false" data-sku="353449-E" data-price="$ 3,400">52</option>
                                <option value="51" data-isinstock="false" data-sku="353448-E" data-price="$ 3,400">51</option>
                                <option value="50" data-isinstock="false" data-sku="353447-E" data-price="$ 3,400">50</option>
                                <option value="49" data-isinstock="false" data-sku="353446-E" data-price="$ 3,400">49</option>
                                <option value="48" data-isinstock="false" data-sku="353445-E" data-price="$ 3,400">48</option>
                                <option value="47" data-isinstock="false" data-sku="353444-E" data-price="$ 3,400">47</option>
                                <option value="46" data-isinstock="false" data-sku="353443-E" data-price="$ 3,400">46</option>
                                <option value="45" data-isinstock="false" data-sku="353442-E" data-price="$ 3,400">45</option>
                                <option value="44" data-isinstock="false" data-sku="353441-E" data-price="$ 3,400">44</option>
                                <option value="43" data-isinstock="false" data-sku="353440-E" data-price="$ 3,400">43</option>
                                <option value="42" data-isinstock="false" data-sku="353439-E" data-price="$ 3,400">42</option>
                                <option value="41" data-isinstock="false" data-sku="353438-E" data-price="$ 3,400">41</option>
                        </select><div class="bul-select-input" data-value="70">70</div></div>
                    </div>
                    <span class="price">Price from $ 3,400 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/12">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN858043-1_v07.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN858043">
                <a href="/en-us/products/an858043.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt rose gold set with mother-of-pearl elements and pavé diamonds (0.43 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_12">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_12" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353257-E" data-price="$ 4,400">70</option>
                                <option value="69" data-isinstock="false" data-sku="353256-E" data-price="$ 4,400">69</option>
                                <option value="68" data-isinstock="false" data-sku="353255-E" data-price="$ 4,400">68</option>
                                <option value="67" data-isinstock="false" data-sku="353254-E" data-price="$ 4,400">67</option>
                                <option value="66" data-isinstock="false" data-sku="353253-E" data-price="$ 4,400">66</option>
                                <option value="65" data-isinstock="false" data-sku="353252-E" data-price="$ 4,400">65</option>
                                <option value="64" data-isinstock="false" data-sku="353251-E" data-price="$ 4,400">64</option>
                                <option value="63" data-isinstock="false" data-sku="353250-E" data-price="$ 4,400">63</option>
                                <option value="62" data-isinstock="false" data-sku="353249-E" data-price="$ 4,400">62</option>
                                <option value="61" data-isinstock="false" data-sku="353248-E" data-price="$ 4,400">61</option>
                                <option value="60" data-isinstock="false" data-sku="353247-E" data-price="$ 4,400">60</option>
                                <option value="59" data-isinstock="false" data-sku="353246-E" data-price="$ 4,400">59</option>
                                <option value="58" data-isinstock="false" data-sku="353245-E" data-price="$ 4,400">58</option>
                                <option value="57" data-isinstock="false" data-sku="353244-E" data-price="$ 4,400">57</option>
                                <option value="56" data-isinstock="false" data-sku="353243-E" data-price="$ 4,400">56</option>
                                <option value="55" data-isinstock="true" data-sku="353242-E" data-price="$ 4,400" selected="selected">55</option>
                                <option value="54" data-isinstock="false" data-sku="353241-E" data-price="$ 4,400">54</option>
                                <option value="53" data-isinstock="true" data-sku="353240-E" data-price="$ 4,400">53</option>
                                <option value="52" data-isinstock="false" data-sku="353239-E" data-price="$ 4,400">52</option>
                                <option value="51" data-isinstock="true" data-sku="353238-E" data-price="$ 4,400">51</option>
                                <option value="50" data-isinstock="false" data-sku="353237-E" data-price="$ 4,400">50</option>
                                <option value="49" data-isinstock="false" data-sku="353236-E" data-price="$ 4,400">49</option>
                                <option value="48" data-isinstock="false" data-sku="353235-E" data-price="$ 4,400">48</option>
                                <option value="47" data-isinstock="false" data-sku="353234-E" data-price="$ 4,400">47</option>
                                <option value="46" data-isinstock="false" data-sku="353233-E" data-price="$ 4,400">46</option>
                                <option value="45" data-isinstock="false" data-sku="353232-E" data-price="$ 4,400">45</option>
                                <option value="44" data-isinstock="false" data-sku="353231-E" data-price="$ 4,400">44</option>
                                <option value="43" data-isinstock="false" data-sku="353230-E" data-price="$ 4,400">43</option>
                                <option value="42" data-isinstock="false" data-sku="353229-E" data-price="$ 4,400">42</option>
                                <option value="41" data-isinstock="false" data-sku="353228-E" data-price="$ 4,400">41</option>
                        </select><div class="bul-select-input" data-value="55">55</div></div>
                    </div>
                    <span class="price">$ 4,400 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/13">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857940-0_v04.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857940">
                <a href="/en-us/products/an857940.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt white gold set with full pavé diamonds (0.85 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_13">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_13" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353527-E" data-price="$ 6,050">70</option>
                                <option value="69" data-isinstock="false" data-sku="353526-E" data-price="$ 6,050">69</option>
                                <option value="68" data-isinstock="false" data-sku="353525-E" data-price="$ 6,050">68</option>
                                <option value="67" data-isinstock="false" data-sku="353524-E" data-price="$ 6,050">67</option>
                                <option value="66" data-isinstock="false" data-sku="353523-E" data-price="$ 6,050">66</option>
                                <option value="65" data-isinstock="false" data-sku="353522-E" data-price="$ 6,050">65</option>
                                <option value="64" data-isinstock="false" data-sku="353521-E" data-price="$ 6,050">64</option>
                                <option value="63" data-isinstock="false" data-sku="353520-E" data-price="$ 6,050">63</option>
                                <option value="62" data-isinstock="false" data-sku="353519-E" data-price="$ 6,050">62</option>
                                <option value="61" data-isinstock="false" data-sku="353518-E" data-price="$ 6,050">61</option>
                                <option value="60" data-isinstock="false" data-sku="353517-E" data-price="$ 6,050">60</option>
                                <option value="59" data-isinstock="false" data-sku="353516-E" data-price="$ 6,050">59</option>
                                <option value="58" data-isinstock="false" data-sku="353515-E" data-price="$ 6,050">58</option>
                                <option value="57" data-isinstock="false" data-sku="353514-E" data-price="$ 6,050">57</option>
                                <option value="56" data-isinstock="false" data-sku="353513-E" data-price="$ 6,050">56</option>
                                <option value="55" data-isinstock="false" data-sku="353512-E" data-price="$ 6,050">55</option>
                                <option value="54" data-isinstock="true" data-sku="353511-E" data-price="$ 6,050" selected="selected">54</option>
                                <option value="53" data-isinstock="false" data-sku="353510-E" data-price="$ 6,050">53</option>
                                <option value="52" data-isinstock="false" data-sku="353509-E" data-price="$ 6,050">52</option>
                                <option value="51" data-isinstock="false" data-sku="353508-E" data-price="$ 6,050">51</option>
                                <option value="50" data-isinstock="false" data-sku="353507-E" data-price="$ 6,050">50</option>
                                <option value="49" data-isinstock="false" data-sku="353506-E" data-price="$ 6,050">49</option>
                                <option value="48" data-isinstock="false" data-sku="353505-E" data-price="$ 6,050">48</option>
                                <option value="47" data-isinstock="false" data-sku="353504-E" data-price="$ 6,050">47</option>
                                <option value="46" data-isinstock="false" data-sku="353503-E" data-price="$ 6,050">46</option>
                                <option value="45" data-isinstock="false" data-sku="353502-E" data-price="$ 6,050">45</option>
                                <option value="44" data-isinstock="false" data-sku="353501-E" data-price="$ 6,050">44</option>
                                <option value="43" data-isinstock="false" data-sku="353500-E" data-price="$ 6,050">43</option>
                                <option value="42" data-isinstock="false" data-sku="353499-E" data-price="$ 6,050">42</option>
                                <option value="41" data-isinstock="false" data-sku="353498-E" data-price="$ 6,050">41</option>
                        </select><div class="bul-select-input" data-value="54">54</div></div>
                    </div>
                    <span class="price">$ 6,050 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/14">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857726-1_v03.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center ">
            <div class="bul-valign-middle-box" data-sku="AN857726">
                <a href="/en-us/products/an857726.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description"> Sublimating the scales of the snake with an enchanting hexagon-motif designed with pave diamonds, the Serpenti ring sparkles with desire and with the irresistible seductive power of the sacred animal.</p>
                    <div class="size-box">
                        <label for="size_g3_14">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_14" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="352757-E" data-price="$ 8,500">45</option>
                                <option value="46" data-isinstock="false" data-sku="352758-E" data-price="$ 8,500">46</option>
                                <option value="47" data-isinstock="false" data-sku="352759-E" data-price="$ 8,500">47</option>
                                <option value="48" data-isinstock="false" data-sku="352760-E" data-price="$ 8,500">48</option>
                                <option value="49" data-isinstock="false" data-sku="352761-E" data-price="$ 8,500">49</option>
                                <option value="50" data-isinstock="false" data-sku="352762-E" data-price="$ 8,500">50</option>
                                <option value="51" data-isinstock="false" data-sku="352763-E" data-price="$ 8,500">51</option>
                                <option value="52" data-isinstock="false" data-sku="352764-E" data-price="$ 8,500">52</option>
                                <option value="53" data-isinstock="false" data-sku="352765-E" data-price="$ 8,500">53</option>
                                <option value="54" data-isinstock="false" data-sku="352766-E" data-price="$ 8,500">54</option>
                                <option value="55" data-isinstock="false" data-sku="352767-E" data-price="$ 8,500">55</option>
                                <option value="56" data-isinstock="false" data-sku="352768-E" data-price="$ 8,500">56</option>
                                <option value="57" data-isinstock="false" data-sku="352769-E" data-price="$ 8,500">57</option>
                                <option value="58" data-isinstock="false" data-sku="352770-E" data-price="$ 8,500">58</option>
                                <option value="59" data-isinstock="false" data-sku="352771-E" data-price="$ 8,500">59</option>
                                <option value="60" data-isinstock="false" data-sku="352772-E" data-price="$ 8,500">60</option>
                                <option value="61" data-isinstock="false" data-sku="352773-E" data-price="$ 8,500">61</option>
                                <option value="62" data-isinstock="false" data-sku="352774-E" data-price="$ 8,500">62</option>
                                <option value="63" data-isinstock="false" data-sku="352775-E" data-price="$ 8,500">63</option>
                                <option value="64" data-isinstock="false" data-sku="352776-E" data-price="$ 8,500">64</option>
                                <option value="65" data-isinstock="false" data-sku="352777-E" data-price="$ 8,500">65</option>
                        </select><div class="bul-select-input" data-value="45">45</div></div>
                    </div>
                    <span class="price">Price from $ 8,500 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g3/15">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Rings-BVLGARI-AN857928-0_v09.png" alt="Serpenti">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857928">
                <a href="/en-us/products/an857928.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>Serpenti</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">Serpenti band ring in 18 kt rose gold set with demi pavé diamonds (0.43 ct). </p>
                    <div class="size-box">
                        <label for="size_g3_15">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g3_15" name="size" title="Size">
                                <option value="70" data-isinstock="false" data-sku="353317-E" data-price="$ 3,600">70</option>
                                <option value="69" data-isinstock="false" data-sku="353316-E" data-price="$ 3,600">69</option>
                                <option value="68" data-isinstock="false" data-sku="353315-E" data-price="$ 3,600">68</option>
                                <option value="67" data-isinstock="false" data-sku="353314-E" data-price="$ 3,600">67</option>
                                <option value="66" data-isinstock="false" data-sku="353313-E" data-price="$ 3,600">66</option>
                                <option value="65" data-isinstock="false" data-sku="353312-E" data-price="$ 3,600">65</option>
                                <option value="64" data-isinstock="false" data-sku="353311-E" data-price="$ 3,600">64</option>
                                <option value="63" data-isinstock="false" data-sku="353310-E" data-price="$ 3,600">63</option>
                                <option value="62" data-isinstock="false" data-sku="353309-E" data-price="$ 3,600">62</option>
                                <option value="61" data-isinstock="false" data-sku="353308-E" data-price="$ 3,600">61</option>
                                <option value="60" data-isinstock="false" data-sku="353307-E" data-price="$ 3,600">60</option>
                                <option value="59" data-isinstock="false" data-sku="353306-E" data-price="$ 3,600">59</option>
                                <option value="58" data-isinstock="false" data-sku="353305-E" data-price="$ 3,600">58</option>
                                <option value="57" data-isinstock="false" data-sku="353304-E" data-price="$ 3,600">57</option>
                                <option value="56" data-isinstock="false" data-sku="353303-E" data-price="$ 3,600">56</option>
                                <option value="55" data-isinstock="false" data-sku="353302-E" data-price="$ 3,600">55</option>
                                <option value="54" data-isinstock="false" data-sku="353301-E" data-price="$ 3,600">54</option>
                                <option value="53" data-isinstock="true" data-sku="353300-E" data-price="$ 3,600" selected="selected">53</option>
                                <option value="52" data-isinstock="false" data-sku="353299-E" data-price="$ 3,600">52</option>
                                <option value="51" data-isinstock="true" data-sku="353298-E" data-price="$ 3,600">51</option>
                                <option value="50" data-isinstock="false" data-sku="353297-E" data-price="$ 3,600">50</option>
                                <option value="49" data-isinstock="false" data-sku="353296-E" data-price="$ 3,600">49</option>
                                <option value="48" data-isinstock="false" data-sku="353295-E" data-price="$ 3,600">48</option>
                                <option value="47" data-isinstock="false" data-sku="353294-E" data-price="$ 3,600">47</option>
                                <option value="46" data-isinstock="false" data-sku="353293-E" data-price="$ 3,600">46</option>
                                <option value="45" data-isinstock="false" data-sku="353292-E" data-price="$ 3,600">45</option>
                                <option value="44" data-isinstock="false" data-sku="353291-E" data-price="$ 3,600">44</option>
                                <option value="43" data-isinstock="false" data-sku="353290-E" data-price="$ 3,600">43</option>
                                <option value="42" data-isinstock="false" data-sku="353289-E" data-price="$ 3,600">42</option>
                                <option value="41" data-isinstock="false" data-sku="353288-E" data-price="$ 3,600">41</option>
                        </select><div class="bul-select-input" data-value="53">53</div></div>
                    </div>
                    <span class="price">$ 3,600 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
<a href="#" class="bul-btn-more" data-key="g3">see more (<span class="rest">14</span>)</a>
</section>
