<section class="bul-category bul-completed" id="bul-category-g2" style="height: auto;">
    <h2>Serpenti</h2>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g2/0">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR857813-1_v05.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR857813">
                    <a href="/en-us/products/br857813.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Crowned with hexagonal rose gold scales set with pave diamonds, the Serpenti bracelet coils the wrist with desire and with the irresistible power of attraction of its hypnotic rubellite eyes.</p>
                    <div class="size-box">
                        <label for="size_g2_0">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_0" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="352819-E" data-price="$ 9,050" selected="selected">S</option>
                                <option value="M" data-isinstock="true" data-sku="352820-E" data-price="$ 9,050" selected="selected">M</option>
                                <option value="L" data-isinstock="false" data-sku="352821-E" data-price="$ 9,050">L</option>
                        </select>
                            <div class="bul-select-input" data-value="M">S</div>
                        </div>
                    </div>
                    <span class="price">$ 9,050</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g2/1">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR858084-0_v08.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR858084">
                    <a href="/en-us/products/br858084.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">With graceful flexibility and a sensual design to encircle the wrist with smooth diamond scales, the Serpenti creation takes a Bulgari twist on the classic tennis bracelet shape.</p>
                    <div class="size-box">
                        <label for="size_g2_1">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_1" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="353792-E" data-price="$ 18,500" selected="selected">S</option>
                                <option value="M" data-isinstock="false" data-sku="353793-E" data-price="$ 19,500">M</option>
                                <option value="L" data-isinstock="false" data-sku="353794-E" data-price="$ 20,500">L</option>
                        </select>
                            <div class="bul-select-input" data-value="S">S</div>
                        </div>
                    </div>
                    <span class="price">$ 18,500</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/2">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR857492-1_v07.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR857492">
                    <a href="/en-us/products/br857492.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">With graceful flexibility and a sensual design to encircle the wrist with sparkling diamond scales, the Serpenti creation takes a Bulgari twist on the classic tennis bracelet shape.</p>
                    <div class="size-box">
                        <label for="size_g2_2">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_2" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="351844-E" data-price="$ 18,100" selected="selected">S</option>
                                <option value="M" data-isinstock="false" data-sku="351845-E" data-price="$ 19,200">M</option>
                                <option value="L" data-isinstock="false" data-sku="351846-E" data-price="$ 20,200">L</option>
                        </select>
                            <div class="bul-select-input" data-value="S">S</div>
                        </div>
                    </div>
                    <span class="price">$ 18,100</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/3">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR858110-0.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR858110">
                    <a href="/en-us/products/br858110.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Coiling the wrist with its power of seduction, the Serpenti bracelet gleams with its precious tail and head, both sculpted with the movement of pave diamonds to evoke the sensuality of the snake. </p>
                    <div class="size-box">
                        <label for="size_g2_3">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_3" name="size" title="Size">
                                <option value="L" data-isinstock="false" data-sku="354100-E" data-price="$ 16,400" selected="selected">L</option>
                                <option value="M" data-isinstock="false" data-sku="354099-E" data-price="$ 16,400">M</option>
                                <option value="S" data-isinstock="false" data-sku="354098-E" data-price="$ 16,400">S</option>
                        </select>
                            <div class="bul-select-input" data-value="L">L</div>
                        </div>
                    </div>
                    <span class="price">$ 16,400</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g2/4">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR857739-1_v06.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857739">
                    <a href="/en-us/products/br857739.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Serpenti soft bracelet in rose gold and amethyst.</p>
                    <div class="size-box">
                        <label for="size_g2_4">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_4" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="352812-E" data-price="$ 2,650" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="352813-E" data-price="$ 2,650">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 2,650</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/5">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR855312-0_v08.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR855312">
                    <a href="/en-us/products/br855312.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Encircling the wrist with the sensuality of rose gold, the Serpenti bracelet shines with the seductive allure of its precious scales and with the gleam of its diamonds head.</p>
                    <div class="size-box">
                        <label for="size_g2_5">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_5" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="345199-E" data-price="$ 39,400" selected="selected">S</option>
                                <option value="M" data-isinstock="true" data-sku="345211-E" data-price="$ 40,600" selected="selected">M</option>
                                <option value="L" data-isinstock="false" data-sku="345212-E" data-price="$ 41,800">L</option>
                        </select>
                            <div class="bul-select-input" data-value="M">S</div>
                        </div>
                    </div>
                    <span class="price">$ 39,400</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/6">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/S/e/Serpenti-Bracelets-BVLGARI-BR856845-1_v16.png" alt="Serpenti">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR856845">
                    <a href="/en-us/products/br856845.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>Serpenti</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">Fusing the snake motif with the tubogas tecnique in new expressions of seduction, the Serpenti bracelet coils around the finger with the femininity of rose gold and the glamorous sparkle of pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_6">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_6" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="348589-E" data-price="$ 36,500" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="false" data-sku="348590-E" data-price="$ 36,500">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 36,500</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <a href="#" class="bul-btn-more" data-key="g2">see more (<span class="rest">0</span>)</a>
</section>
