<section class="bul-category  bul-completed" id="bul-category-g1" style="height: auto;">
    <h2>DIVAS’ DREAM</h2>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/0">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857959-0.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR857959">
                    <a href="/en-us/products/br857959.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM cuff bracelet in 18 kt white gold, set with mother-of-pearl and pavé diamonds (0.45 ct).</p>
                    <div class="size-box">
                        <label for="size_g1_0">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_0" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="353709-E" data-price="$ 8,100" selected="selected">S</option>
                                <option value="M" data-isinstock="false" data-sku="353710-E" data-price="$ 8,100">M</option>
                                <option value="L" data-isinstock="false" data-sku="353711-E" data-price="$ 8,100">L</option>
                        </select>
                            <div class="bul-select-input" data-value="S">S</div>
                        </div>
                    </div>
                    <span class="price">$ 8,100</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>









    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/1">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857493-1_v03.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857493">
                    <a href="/en-us/products/br857493.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt white gold with pendant set with full pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g1_1">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_1" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="351119-E" data-price="$ 2,650" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="351120-E" data-price="$ 2,650">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 2,650</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>









    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/2">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857323-1_v06.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR857323">
                    <a href="/en-us/products/br857323.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM cuff bracelet in 18 kt rose gold, set with mother-of-pearl and onyx elements.</p>
                    <div class="size-box">
                        <label for="size_g1_2">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_2" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="350824-E" data-price="$ 6,650" selected="selected">S</option>
                                <option value="M" data-isinstock="true" data-sku="350825-E" data-price="$ 6,650" selected="selected">M</option>
                                <option value="L" data-isinstock="false" data-sku="350826-E" data-price="$ 6,650">L</option>
                        </select>
                            <div class="bul-select-input" data-value="M">S</div>
                        </div>
                    </div>
                    <span class="price">$ 6,650</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>









    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/3">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857194-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857194">
                    <a href="/en-us/products/br857194.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold, with 18 kt rose gold pendant set with carnelian.</p>
                    <div class="size-box">
                        <label for="size_g1_3">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_3" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="350589-E" data-price="$ 1,350" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="350590-E" data-price="$ 1,350">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 1,350</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>









    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g1/4">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR858077-0_v03.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR858077">
                    <a href="/en-us/products/br858077.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM openwork bracelet in 18 kt white gold with 18 kt white gold pendant set with pavé diamonds (0.20 ct).</p>
                    <div class="size-box">
                        <label for="size_g1_4">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_4" name="size" title="Size">
                                <option value="M/L" data-isinstock="true" data-sku="354051-E" data-price="$ 2,300" selected="selected">M/L</option>
                                <option value="S/M" data-isinstock="true" data-sku="354050-E" data-price="$ 2,300">S/M</option>
                        </select>
                            <div class="bul-select-input" data-value="M/L">M/L</div>
                        </div>
                    </div>
                    <span class="price">$ 2,300</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>







    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/5">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857195-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857195">
                    <a href="/en-us/products/br857195.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold with pendant set with torquoise. </p>
                    <div class="size-box">
                        <label for="size_g1_5">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_5" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="350591-E" data-price="$ 1,350" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="350592-E" data-price="$ 1,350">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 1,350</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>







    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/6">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857370-1_v08.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR857370">
                    <a href="/en-us/products/br857370.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM 18 kt rose gold cuff bracelet, set with mother-of-pearl and pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g1_6">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_6" name="size" title="Size">
                                <option value="S" data-isinstock="false" data-sku="352629-E" data-price="$ 8,000" selected="selected">S</option>
                                <option value="M" data-isinstock="false" data-sku="352630-E" data-price="$ 8,000">M</option>
                                <option value="L" data-isinstock="false" data-sku="352631-E" data-price="$ 8,000">L</option>
                        </select>
                            <div class="bul-select-input" data-value="S">S</div>
                        </div>
                    </div>
                    <span class="price">$ 8,000</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/7">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857196-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857196">
                    <a href="/en-us/products/br857196.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold, with 18 kt rose gold pendant set with mother-of-pearl.</p>
                    <div class="size-box">
                        <label for="size_g1_7">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_7" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="350585-E" data-price="$ 1,350" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="350586-E" data-price="$ 1,350">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 1,350</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>






    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/8">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857363-0_v08.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR857363">
                    <a href="/en-us/products/br857363.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold with pendant in full pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g1_8">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_8" name="size" title="Size">
                                <option value="S/M" data-isinstock="false" data-sku="351052-E" data-price="$ 2,450" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="351053-E" data-price="$ 2,450" selected="selected">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="M/L">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 2,450</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/9">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857214-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857214">
                    <a href="/en-us/products/br857214.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold, with 18 kt rose gold pendant set with onyx.</p>
                    <div class="size-box">
                        <label for="size_g1_9">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_9" name="size" title="Size">
                                <option value="M/L" data-isinstock="true" data-sku="350588-E" data-price="$ 1,350" selected="selected">M/L</option>
                                <option value="S/M" data-isinstock="true" data-sku="350587-E" data-price="$ 1,350">S/M</option>
                        </select>
                            <div class="bul-select-input" data-value="M/L">M/L</div>
                        </div>
                    </div>
                    <span class="price">$ 1,350</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/10">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857290-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857290">
                    <a href="/en-us/products/br857290.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold with pendant set with lapis lazuli. </p>
                    <div class="size-box">
                        <label for="size_g1_10">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_10" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="350712-E" data-price="$ 1,350" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="350713-E" data-price="$ 1,350">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 1,350</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/11">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR857497-0_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR857497">
                    <a href="/en-us/products/br857497.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold with malachite and mother-of-pearl elements.</p>
                    <div class="size-box">
                        <label for="size_g1_11">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_11" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="352605-E" data-price="$ 4,200" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="false" data-sku="352606-E" data-price="$ 4,200">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 4,200</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/12">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR858254-0_v08.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR858254">
                    <a href="/en-us/products/br858254.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM 18 kt rose gold openwork bracelet with 18 kt rose gold pendant set with pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g1_12">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_12" name="size" title="Size">
                                <option value="M/L" data-isinstock="false" data-sku="354365-E" data-price="$ 2,200" selected="selected">M/L</option>
                                <option value="S/M" data-isinstock="false" data-sku="354364-E" data-price="$ 2,200">S/M</option>
                        </select>
                            <div class="bul-select-input" data-value="M/L">M/L</div>
                        </div>
                    </div>
                    <span class="price">$ 2,200</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/13">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR856970-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="BR856970">
                    <a href="/en-us/products/br856970.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold, with pendants in 18 kt rose gold set with mother-of-pearl elements.</p>
                    <div class="size-box">
                        <label for="size_g1_13">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_13" name="size" title="Size">
                                <option value="S/M" data-isinstock="true" data-sku="350070-E" data-price="$ 3,550" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="false" data-sku="350071-E" data-price="$ 3,550">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="S/M">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 3,550</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/14">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Bracelets-BVLGARI-BR856995-1_v05.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center">
                <div class="bul-valign-middle-box" data-sku="BR856995">
                    <a href="/en-us/products/br856995.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM bracelet in 18 kt rose gold with mother-of-pearl and onyx elements.</p>
                    <div class="size-box">
                        <label for="size_g1_14">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g1_14" name="size" title="Size">
                                <option value="S/M" data-isinstock="false" data-sku="350072-E" data-price="$ 4,250" selected="selected">S/M</option>
                                <option value="M/L" data-isinstock="true" data-sku="350073-E" data-price="$ 4,250" selected="selected">M/L</option>
                        </select>
                            <div class="bul-select-input" data-value="M/L">S/M</div>
                        </div>
                    </div>
                    <span class="price">$ 4,250</span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>

    </div>
    <a href="#" class="bul-btn-more" data-key="g1">see more (<span class="rest">7</span>)</a>
</section>
