<section class="bul-category bul-completed" id="bul-category-g1" style="height: auto;">
    <h2>DIVAS’ DREAM</h2>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/0">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350063-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350063-E">
                    <a href="/en-us/products/350063-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold with pendant set with one diamond and pavé diamonds.</p>
                    <span class="price">$ 4,050 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>







    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/1">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350067-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350067-E">
                    <a href="/en-us/products/350067-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold with pendant set with one diamond and pavé diamonds.</p>
                    <span class="price">$ 12,100 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>







    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/2">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350061-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="350061-E">
                    <a href="/en-us/products/350061-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM sautoir in 18 kt rose gold with pendants set with mother-of-pearl elements and pavé diamonds.</p>
                    <span class="price">$ 12,800 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>







    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/3">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350062-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350062-E">
                    <a href="/en-us/products/350062-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold with pendant set with mother-of-pearl element and one diamond.</p>
                    <span class="price">$ 2,300 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>







    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell active" data-keys="g1/4">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350065-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="350065-E">
                    <a href="/en-us/products/350065-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold with pendant set with mother-of-pearl elements, one diamond and pavé diamonds.</p>
                    <span class="price">$ 6,100 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/5">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-348361-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="348361-E">
                    <a href="/en-us/products/348361-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold set with three diamonds and pavé diamonds.</p>
                    <span class="price"> </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/6">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350075-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350075-E">
                    <a href="/en-us/products/350075-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold set with mother-of-pearl and black onyx elements.</p>
                    <span class="price">$ 7,200 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/7">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350060-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350060-E">
                    <a href="/en-us/products/350060-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM sautoir in 18 kt rose gold, set with mother-of-pearl and black onyx elements.</p>
                    <span class="price">$ 11,900 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>




    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/8">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350066-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350066-E">
                    <a href="/en-us/products/350066-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt white gold with pendant set with one diamond and pavé diamonds.</p>
                    <span class="price">$ 7,200 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>



    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/9">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklaces-BVLGARI-354046-E-1_v01.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="354046-E">
                    <a href="/en-us/products/354046-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM openwork necklace in 18 kt white gold with 18 kt white gold pendant set with pavé diamonds (0.20 ct).</p>
                    <span class="price">$ 2,700 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>



    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/10">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-352628-E-1_v01.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center ">
                <div class="bul-valign-middle-box" data-sku="352628-E">
                    <a href="/en-us/products/352628-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold with chain set with pink sapphires and a diamond, and with a pendant set with a central pink sapphire and pavé diamonds.</p>
                    <span class="price">$ 20,900 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>



    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g1/11">
            <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Necklace-BVLGARI-350710-E-1.png" alt="DIVAS’ DREAM">
            <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
                <div class="bul-valign-middle-box" data-sku="350710-E">
                    <a href="/en-us/products/350710-e.html" class="product-link out-link">
                        <hgroup>
                            <h3 class="bgr-h4">Jewelry</h3>
                            <h3>DIVAS’ DREAM</h3>
                        </hgroup>
                        <div class="discover-btn-show"> Discover </div>
                    </a>
                    <p class="description">DIVAS' DREAM necklace in 18 kt rose gold with pendant set with lapis lazuli and one diamond.</p>
                    <span class="price">$ 1,700 </span>
                </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
                <button class="btn-wish"></button>
            </figcaption>
        </figure>
    </div>

    <a href="#" class="bul-btn-more" data-key="g1">see more (<span class="rest">1</span>)</a>
</section>
