<section class="bul-category  bul-completed" id="bul-category-g2" style="height: auto;">
    <h2>DIVAS’ DREAM</h2>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/0">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857333-1_v06.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857333">
                <a href="/en-us/products/an857333.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt rose gold set with pavé diamonds and charm set with mother-of-pearl.</p>
                    <div class="size-box">
                        <label for="size_g2_0">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_0" name="size" title="Size">
                                <option value="44" data-isinstock="false" data-sku="350830-E" data-price="$ 2,050" selected="selected">44</option>
                                <option value="45" data-isinstock="false" data-sku="350831-E" data-price="$ 2,050">45</option>
                                <option value="46" data-isinstock="false" data-sku="350832-E" data-price="$ 2,050">46</option>
                                <option value="47" data-isinstock="false" data-sku="350833-E" data-price="$ 2,050">47</option>
                                <option value="48" data-isinstock="false" data-sku="350834-E" data-price="$ 2,050">48</option>
                                <option value="49" data-isinstock="false" data-sku="350835-E" data-price="$ 2,050">49</option>
                                <option value="50" data-isinstock="false" data-sku="350836-E" data-price="$ 2,050">50</option>
                                <option value="51" data-isinstock="false" data-sku="350837-E" data-price="$ 2,050">51</option>
                                <option value="52" data-isinstock="false" data-sku="350838-E" data-price="$ 2,050">52</option>
                                <option value="53" data-isinstock="true" data-sku="350839-E" data-price="$ 2,050" selected="selected">53</option>
                                <option value="54" data-isinstock="false" data-sku="350840-E" data-price="$ 2,050">54</option>
                                <option value="55" data-isinstock="true" data-sku="350841-E" data-price="$ 2,050">55</option>
                                <option value="56" data-isinstock="false" data-sku="350842-E" data-price="$ 2,050">56</option>
                                <option value="57" data-isinstock="false" data-sku="350843-E" data-price="$ 2,050">57</option>
                                <option value="58" data-isinstock="false" data-sku="350844-E" data-price="$ 2,050">58</option>
                                <option value="59" data-isinstock="false" data-sku="350845-E" data-price="$ 2,050">59</option>
                                <option value="60" data-isinstock="false" data-sku="350846-E" data-price="$ 2,050">60</option>
                                <option value="61" data-isinstock="false" data-sku="350847-E" data-price="$ 2,050">61</option>
                                <option value="62" data-isinstock="false" data-sku="350848-E" data-price="$ 2,050">62</option>
                                <option value="63" data-isinstock="false" data-sku="350849-E" data-price="$ 2,050">63</option>
                                <option value="64" data-isinstock="false" data-sku="350850-E" data-price="$ 2,050">64</option>
                                <option value="65" data-isinstock="false" data-sku="350851-E" data-price="$ 2,050">65</option>
                        </select><div class="bul-select-input" data-value="53">44</div></div>
                    </div>
                    <span class="price">$ 2,050</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/1">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857491-0_v04.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857491">
                <a href="/en-us/products/an857491.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt white gold set with pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_1">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_1" name="size" title="Size">
                                <option value="44" data-isinstock="false" data-sku="351121-E" data-price="$ 3,000" selected="selected">44</option>
                                <option value="45" data-isinstock="false" data-sku="351122-E" data-price="$ 3,000">45</option>
                                <option value="46" data-isinstock="false" data-sku="351123-E" data-price="$ 3,000">46</option>
                                <option value="47" data-isinstock="false" data-sku="351124-E" data-price="$ 3,000">47</option>
                                <option value="48" data-isinstock="false" data-sku="351125-E" data-price="$ 3,000">48</option>
                                <option value="49" data-isinstock="false" data-sku="351126-E" data-price="$ 3,000">49</option>
                                <option value="50" data-isinstock="false" data-sku="351127-E" data-price="$ 3,000">50</option>
                                <option value="51" data-isinstock="false" data-sku="351128-E" data-price="$ 3,000">51</option>
                                <option value="52" data-isinstock="true" data-sku="351129-E" data-price="$ 3,000" selected="selected">52</option>
                                <option value="53" data-isinstock="false" data-sku="351130-E" data-price="$ 3,000">53</option>
                                <option value="54" data-isinstock="false" data-sku="351131-E" data-price="$ 3,000">54</option>
                                <option value="55" data-isinstock="false" data-sku="351132-E" data-price="$ 3,000">55</option>
                                <option value="56" data-isinstock="false" data-sku="351133-E" data-price="$ 3,000">56</option>
                                <option value="57" data-isinstock="false" data-sku="351134-E" data-price="$ 3,000">57</option>
                                <option value="58" data-isinstock="false" data-sku="351135-E" data-price="$ 3,000">58</option>
                                <option value="59" data-isinstock="false" data-sku="351136-E" data-price="$ 3,000">59</option>
                                <option value="60" data-isinstock="false" data-sku="351137-E" data-price="$ 3,000">60</option>
                                <option value="61" data-isinstock="false" data-sku="351138-E" data-price="$ 3,000">61</option>
                                <option value="62" data-isinstock="false" data-sku="351139-E" data-price="$ 3,000">62</option>
                                <option value="63" data-isinstock="false" data-sku="351140-E" data-price="$ 3,000">63</option>
                                <option value="64" data-isinstock="false" data-sku="351141-E" data-price="$ 3,000">64</option>
                                <option value="65" data-isinstock="false" data-sku="351142-E" data-price="$ 3,000">65</option>
                        </select><div class="bul-select-input" data-value="52">44</div></div>
                    </div>
                    <span class="price">$ 3,000</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/2">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN858003-0_v05.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN858003">
                <a href="/en-us/products/an858003.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM small contraire ring in 18 kt rose gold, set with mother-of-pearl and pavé diamonds (0.10 ct).</p>
                    <div class="size-box">
                        <label for="size_g2_2">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_2" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="353800-E" data-price="$ 1,850" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="353801-E" data-price="$ 1,850">46</option>
                                <option value="47" data-isinstock="false" data-sku="353802-E" data-price="$ 1,850">47</option>
                                <option value="48" data-isinstock="false" data-sku="353803-E" data-price="$ 1,850">48</option>
                                <option value="49" data-isinstock="false" data-sku="353804-E" data-price="$ 1,850">49</option>
                                <option value="50" data-isinstock="false" data-sku="353805-E" data-price="$ 1,850">50</option>
                                <option value="51" data-isinstock="true" data-sku="353806-E" data-price="$ 1,850" selected="selected">51</option>
                                <option value="52" data-isinstock="false" data-sku="353807-E" data-price="$ 1,850">52</option>
                                <option value="53" data-isinstock="true" data-sku="353808-E" data-price="$ 1,850">53</option>
                                <option value="54" data-isinstock="true" data-sku="353809-E" data-price="$ 1,850">54</option>
                                <option value="55" data-isinstock="true" data-sku="353810-E" data-price="$ 1,850">55</option>
                                <option value="56" data-isinstock="false" data-sku="353811-E" data-price="$ 1,850">56</option>
                                <option value="57" data-isinstock="false" data-sku="353812-E" data-price="$ 1,850">57</option>
                                <option value="58" data-isinstock="false" data-sku="353813-E" data-price="$ 1,850">58</option>
                                <option value="59" data-isinstock="false" data-sku="353814-E" data-price="$ 1,850">59</option>
                                <option value="60" data-isinstock="false" data-sku="353815-E" data-price="$ 1,850">60</option>
                                <option value="61" data-isinstock="false" data-sku="353816-E" data-price="$ 1,850">61</option>
                                <option value="62" data-isinstock="false" data-sku="353817-E" data-price="$ 1,850">62</option>
                                <option value="63" data-isinstock="false" data-sku="353818-E" data-price="$ 1,850">63</option>
                                <option value="64" data-isinstock="false" data-sku="353819-E" data-price="$ 1,850">64</option>
                                <option value="65" data-isinstock="false" data-sku="353820-E" data-price="$ 1,850">65</option>
                        </select><div class="bul-select-input" data-value="51">45</div></div>
                    </div>
                    <span class="price">$ 1,850</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/3">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857957-0.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857957">
                <a href="/en-us/products/an857957.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM contraire ring in 18 kt white gold, set with mother-of-pearl and pavé diamonds (0.25 ct).</p>
                    <div class="size-box">
                        <label for="size_g2_3">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_3" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="353713-E" data-price="$ 3,600" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="353714-E" data-price="$ 3,600">46</option>
                                <option value="47" data-isinstock="false" data-sku="353715-E" data-price="$ 3,600">47</option>
                                <option value="48" data-isinstock="false" data-sku="353716-E" data-price="$ 3,600">48</option>
                                <option value="49" data-isinstock="false" data-sku="353717-E" data-price="$ 3,600">49</option>
                                <option value="50" data-isinstock="false" data-sku="353718-E" data-price="$ 3,600">50</option>
                                <option value="51" data-isinstock="false" data-sku="353719-E" data-price="$ 3,600">51</option>
                                <option value="52" data-isinstock="true" data-sku="353720-E" data-price="$ 3,600" selected="selected">52</option>
                                <option value="53" data-isinstock="false" data-sku="353721-E" data-price="$ 3,600">53</option>
                                <option value="54" data-isinstock="true" data-sku="353722-E" data-price="$ 3,600">54</option>
                                <option value="55" data-isinstock="false" data-sku="353723-E" data-price="$ 3,600">55</option>
                                <option value="56" data-isinstock="true" data-sku="353724-E" data-price="$ 3,600">56</option>
                                <option value="57" data-isinstock="false" data-sku="353725-E" data-price="$ 3,600">57</option>
                                <option value="58" data-isinstock="false" data-sku="353726-E" data-price="$ 3,600">58</option>
                                <option value="59" data-isinstock="false" data-sku="353727-E" data-price="$ 3,600">59</option>
                                <option value="60" data-isinstock="false" data-sku="353728-E" data-price="$ 3,600">60</option>
                                <option value="61" data-isinstock="false" data-sku="353729-E" data-price="$ 3,600">61</option>
                                <option value="62" data-isinstock="false" data-sku="353730-E" data-price="$ 3,600">62</option>
                                <option value="63" data-isinstock="false" data-sku="353731-E" data-price="$ 3,600">63</option>
                                <option value="64" data-isinstock="false" data-sku="353732-E" data-price="$ 3,600">64</option>
                                <option value="65" data-isinstock="false" data-sku="353733-E" data-price="$ 3,600">65</option>
                        </select><div class="bul-select-input" data-value="52">45</div></div>
                    </div>
                    <span class="price">$ 3,600</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/4">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857079-1_v03.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857079">
                <a href="/en-us/products/an857079.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt white gold set with central diamond and full pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_4">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_4" name="size" title="Size">
                                <option value="46" data-isinstock="false" data-sku="350763-E" data-price="$ 11,300" selected="selected">46</option>
                                <option value="47" data-isinstock="false" data-sku="350764-E" data-price="$ 11,300">47</option>
                                <option value="48" data-isinstock="false" data-sku="350765-E" data-price="$ 11,300">48</option>
                                <option value="49" data-isinstock="false" data-sku="350766-E" data-price="$ 11,300">49</option>
                                <option value="50" data-isinstock="false" data-sku="350767-E" data-price="$ 11,300">50</option>
                                <option value="51" data-isinstock="false" data-sku="350768-E" data-price="$ 11,300">51</option>
                                <option value="52" data-isinstock="false" data-sku="350769-E" data-price="$ 11,300">52</option>
                                <option value="53" data-isinstock="false" data-sku="350770-E" data-price="$ 11,300">53</option>
                                <option value="54" data-isinstock="true" data-sku="350771-E" data-price="$ 11,300" selected="selected">54</option>
                                <option value="55" data-isinstock="false" data-sku="350772-E" data-price="$ 11,300">55</option>
                                <option value="56" data-isinstock="true" data-sku="350773-E" data-price="$ 11,300">56</option>
                                <option value="57" data-isinstock="false" data-sku="350774-E" data-price="$ 11,300">57</option>
                                <option value="58" data-isinstock="false" data-sku="350775-E" data-price="$ 11,300">58</option>
                                <option value="59" data-isinstock="false" data-sku="350776-E" data-price="$ 11,300">59</option>
                                <option value="60" data-isinstock="false" data-sku="350777-E" data-price="$ 11,300">60</option>
                                <option value="61" data-isinstock="false" data-sku="350778-E" data-price="$ 11,300">61</option>
                                <option value="62" data-isinstock="false" data-sku="350779-E" data-price="$ 11,300">62</option>
                                <option value="63" data-isinstock="false" data-sku="350780-E" data-price="$ 11,300">63</option>
                                <option value="64" data-isinstock="false" data-sku="350781-E" data-price="$ 11,300">64</option>
                                <option value="65" data-isinstock="false" data-sku="350782-E" data-price="$ 11,300">65</option>
                                <option value="45" data-isinstock="false" data-sku="350786-E" data-price="$ 11,300">45</option>
                        </select><div class="bul-select-input" data-value="54">46</div></div>
                    </div>
                    <span class="price">$ 11,300</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/5">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857988-0.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857988">
                <a href="/en-us/products/an857988.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt white gold, set with a central emerald and pavé diamonds (0.90 ct).</p>
                    <div class="size-box">
                        <label for="size_g2_5">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_5" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="353667-E" data-price="$ 12,300" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="353668-E" data-price="$ 12,300">46</option>
                                <option value="47" data-isinstock="false" data-sku="353669-E" data-price="$ 12,300">47</option>
                                <option value="48" data-isinstock="false" data-sku="353670-E" data-price="$ 12,300">48</option>
                                <option value="49" data-isinstock="false" data-sku="353671-E" data-price="$ 12,300">49</option>
                                <option value="50" data-isinstock="false" data-sku="353672-E" data-price="$ 12,300">50</option>
                                <option value="51" data-isinstock="false" data-sku="353673-E" data-price="$ 12,300">51</option>
                                <option value="52" data-isinstock="false" data-sku="353674-E" data-price="$ 12,300">52</option>
                                <option value="53" data-isinstock="false" data-sku="353675-E" data-price="$ 12,300">53</option>
                                <option value="54" data-isinstock="false" data-sku="353676-E" data-price="$ 12,300">54</option>
                                <option value="55" data-isinstock="false" data-sku="353677-E" data-price="$ 12,300">55</option>
                                <option value="56" data-isinstock="false" data-sku="353678-E" data-price="$ 12,300">56</option>
                                <option value="57" data-isinstock="false" data-sku="353679-E" data-price="$ 12,300">57</option>
                                <option value="58" data-isinstock="false" data-sku="353680-E" data-price="$ 12,300">58</option>
                                <option value="59" data-isinstock="false" data-sku="353681-E" data-price="$ 12,300">59</option>
                                <option value="60" data-isinstock="false" data-sku="353682-E" data-price="$ 12,300">60</option>
                                <option value="61" data-isinstock="false" data-sku="353683-E" data-price="$ 12,300">61</option>
                                <option value="62" data-isinstock="false" data-sku="353684-E" data-price="$ 12,300">62</option>
                                <option value="63" data-isinstock="false" data-sku="353685-E" data-price="$ 12,300">63</option>
                                <option value="64" data-isinstock="false" data-sku="353686-E" data-price="$ 12,300">64</option>
                                <option value="65" data-isinstock="false" data-sku="353687-E" data-price="$ 12,300">65</option>
                        </select><div class="bul-select-input" data-value="45">45</div></div>
                    </div>
                    <span class="price">$ 12,300</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/6">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857123-1_v05.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN857123">
                <a href="/en-us/products/an857123.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt rose gold, set with mother-of-pearl and pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_6">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_6" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="350716-E" data-price="$ 3,500" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="350717-E" data-price="$ 3,500">46</option>
                                <option value="47" data-isinstock="false" data-sku="350718-E" data-price="$ 3,500">47</option>
                                <option value="48" data-isinstock="false" data-sku="350719-E" data-price="$ 3,500">48</option>
                                <option value="49" data-isinstock="false" data-sku="350720-E" data-price="$ 3,500">49</option>
                                <option value="50" data-isinstock="true" data-sku="350721-E" data-price="$ 3,500" selected="selected">50</option>
                                <option value="51" data-isinstock="false" data-sku="350722-E" data-price="$ 3,500">51</option>
                                <option value="52" data-isinstock="true" data-sku="350723-E" data-price="$ 3,500">52</option>
                                <option value="53" data-isinstock="false" data-sku="350724-E" data-price="$ 3,500">53</option>
                                <option value="54" data-isinstock="false" data-sku="350725-E" data-price="$ 3,500">54</option>
                                <option value="55" data-isinstock="false" data-sku="350726-E" data-price="$ 3,500">55</option>
                                <option value="56" data-isinstock="false" data-sku="350727-E" data-price="$ 3,500">56</option>
                                <option value="57" data-isinstock="false" data-sku="350728-E" data-price="$ 3,500">57</option>
                                <option value="58" data-isinstock="false" data-sku="350729-E" data-price="$ 3,500">58</option>
                                <option value="59" data-isinstock="false" data-sku="350730-E" data-price="$ 3,500">59</option>
                                <option value="60" data-isinstock="false" data-sku="350731-E" data-price="$ 3,500">60</option>
                                <option value="61" data-isinstock="false" data-sku="350732-E" data-price="$ 3,500">61</option>
                                <option value="62" data-isinstock="false" data-sku="350733-E" data-price="$ 3,500">62</option>
                                <option value="63" data-isinstock="false" data-sku="350734-E" data-price="$ 3,500">63</option>
                                <option value="64" data-isinstock="false" data-sku="350735-E" data-price="$ 3,500">64</option>
                                <option value="65" data-isinstock="false" data-sku="350736-E" data-price="$ 3,500">65</option>
                        </select><div class="bul-select-input" data-value="50">45</div></div>
                    </div>
                    <span class="price">$ 3,500</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
            <figure class="grid-cell" data-keys="g2/7">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN858004-0.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center">
            <div class="bul-valign-middle-box" data-sku="AN858004">
                <a href="/en-us/products/an858004.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM small contraire ring in 18 kt white gold, set with mother-of-pearl and pavé diamonds (0.10 ct).</p>
                    <div class="size-box">
                        <label for="size_g2_7">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_7" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="353821-E" data-price="$ 1,950" selected="selected">45</option>
                                <option value="46" data-isinstock="false" data-sku="353822-E" data-price="$ 1,950">46</option>
                                <option value="47" data-isinstock="false" data-sku="353823-E" data-price="$ 1,950">47</option>
                                <option value="48" data-isinstock="false" data-sku="353824-E" data-price="$ 1,950">48</option>
                                <option value="49" data-isinstock="false" data-sku="353825-E" data-price="$ 1,950">49</option>
                                <option value="50" data-isinstock="false" data-sku="353826-E" data-price="$ 1,950">50</option>
                                <option value="51" data-isinstock="false" data-sku="353827-E" data-price="$ 1,950">51</option>
                                <option value="52" data-isinstock="true" data-sku="353828-E" data-price="$ 1,950" selected="selected">52</option>
                                <option value="53" data-isinstock="false" data-sku="353829-E" data-price="$ 1,950">53</option>
                                <option value="54" data-isinstock="true" data-sku="353830-E" data-price="$ 1,950">54</option>
                                <option value="55" data-isinstock="true" data-sku="353831-E" data-price="$ 1,950">55</option>
                                <option value="56" data-isinstock="false" data-sku="353832-E" data-price="$ 1,950">56</option>
                                <option value="57" data-isinstock="false" data-sku="353833-E" data-price="$ 1,950">57</option>
                                <option value="58" data-isinstock="false" data-sku="353834-E" data-price="$ 1,950">58</option>
                                <option value="59" data-isinstock="false" data-sku="353835-E" data-price="$ 1,950">59</option>
                                <option value="60" data-isinstock="false" data-sku="353836-E" data-price="$ 1,950">60</option>
                                <option value="61" data-isinstock="false" data-sku="353837-E" data-price="$ 1,950">61</option>
                                <option value="62" data-isinstock="false" data-sku="353838-E" data-price="$ 1,950">62</option>
                                <option value="63" data-isinstock="false" data-sku="353839-E" data-price="$ 1,950">63</option>
                                <option value="64" data-isinstock="false" data-sku="353840-E" data-price="$ 1,950">64</option>
                                <option value="65" data-isinstock="false" data-sku="353841-E" data-price="$ 1,950">65</option>
                        </select><div class="bul-select-input" data-value="52">45</div></div>
                    </div>
                    <span class="price">$ 1,950</span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>



        </div>
        <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/8">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857373-0_v09.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center ">
            <div class="bul-valign-middle-box" data-sku="AN857373">
                <a href="/en-us/products/an857373.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt rose gold, set with pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_8">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_8" name="size" title="Size">
                                <option value="44" data-isinstock="false" data-sku="351029-E" data-price="$ 2,850">44</option>
                                <option value="45" data-isinstock="false" data-sku="351030-E" data-price="$ 2,850">45</option>
                                <option value="46" data-isinstock="false" data-sku="351031-E" data-price="$ 2,850">46</option>
                                <option value="47" data-isinstock="false" data-sku="351032-E" data-price="$ 2,850">47</option>
                                <option value="48" data-isinstock="false" data-sku="351033-E" data-price="$ 2,850">48</option>
                                <option value="49" data-isinstock="false" data-sku="351034-E" data-price="$ 2,850">49</option>
                                <option value="50" data-isinstock="false" data-sku="351035-E" data-price="$ 2,850">50</option>
                                <option value="51" data-isinstock="false" data-sku="351036-E" data-price="$ 2,850">51</option>
                                <option value="52" data-isinstock="false" data-sku="351037-E" data-price="$ 2,850">52</option>
                                <option value="53" data-isinstock="false" data-sku="351038-E" data-price="$ 2,850">53</option>
                                <option value="54" data-isinstock="false" data-sku="351039-E" data-price="$ 2,850">54</option>
                                <option value="55" data-isinstock="false" data-sku="351040-E" data-price="$ 2,850">55</option>
                                <option value="56" data-isinstock="false" data-sku="351041-E" data-price="$ 2,850">56</option>
                                <option value="57" data-isinstock="false" data-sku="351042-E" data-price="$ 2,850">57</option>
                                <option value="58" data-isinstock="false" data-sku="351043-E" data-price="$ 2,850">58</option>
                                <option value="59" data-isinstock="false" data-sku="351044-E" data-price="$ 2,850">59</option>
                                <option value="60" data-isinstock="false" data-sku="351045-E" data-price="$ 2,850">60</option>
                                <option value="61" data-isinstock="false" data-sku="351046-E" data-price="$ 2,850">61</option>
                                <option value="62" data-isinstock="false" data-sku="351047-E" data-price="$ 2,850">62</option>
                                <option value="63" data-isinstock="false" data-sku="351048-E" data-price="$ 2,850">63</option>
                                <option value="64" data-isinstock="false" data-sku="351049-E" data-price="$ 2,850">64</option>
                                <option value="65" data-isinstock="false" data-sku="351050-E" data-price="$ 2,850">65</option>
                        </select><div class="bul-select-input" data-value="44">44</div></div>
                    </div>
                    <span class="price">Price from $ 2,850 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/9">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857955-0_v05.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857955">
                <a href="/en-us/products/an857955.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM contraire ring in 18 kt rose gold, set with mother-of-pearl and malachite.</p>
                    <div class="size-box">
                        <label for="size_g2_9">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_9" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="353734-E" data-price="$ 2,550">45</option>
                                <option value="46" data-isinstock="false" data-sku="353735-E" data-price="$ 2,550">46</option>
                                <option value="47" data-isinstock="false" data-sku="353736-E" data-price="$ 2,550">47</option>
                                <option value="48" data-isinstock="false" data-sku="353737-E" data-price="$ 2,550">48</option>
                                <option value="49" data-isinstock="false" data-sku="353738-E" data-price="$ 2,550">49</option>
                                <option value="50" data-isinstock="false" data-sku="353739-E" data-price="$ 2,550">50</option>
                                <option value="51" data-isinstock="false" data-sku="353740-E" data-price="$ 2,550">51</option>
                                <option value="52" data-isinstock="true" data-sku="353741-E" data-price="$ 2,550" selected="selected">52</option>
                                <option value="53" data-isinstock="false" data-sku="353742-E" data-price="$ 2,550">53</option>
                                <option value="54" data-isinstock="false" data-sku="353743-E" data-price="$ 2,550">54</option>
                                <option value="55" data-isinstock="false" data-sku="353744-E" data-price="$ 2,550">55</option>
                                <option value="56" data-isinstock="true" data-sku="353745-E" data-price="$ 2,550">56</option>
                                <option value="57" data-isinstock="false" data-sku="353746-E" data-price="$ 2,550">57</option>
                                <option value="58" data-isinstock="false" data-sku="353747-E" data-price="$ 2,550">58</option>
                                <option value="59" data-isinstock="false" data-sku="353748-E" data-price="$ 2,550">59</option>
                                <option value="60" data-isinstock="false" data-sku="353749-E" data-price="$ 2,550">60</option>
                                <option value="61" data-isinstock="false" data-sku="353750-E" data-price="$ 2,550">61</option>
                                <option value="62" data-isinstock="false" data-sku="353751-E" data-price="$ 2,550">62</option>
                                <option value="63" data-isinstock="false" data-sku="353752-E" data-price="$ 2,550">63</option>
                                <option value="64" data-isinstock="false" data-sku="353753-E" data-price="$ 2,550">64</option>
                                <option value="65" data-isinstock="false" data-sku="353754-E" data-price="$ 2,550">65</option>
                        </select><div class="bul-select-input" data-value="52">52</div></div>
                    </div>
                    <span class="price">$ 2,550 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/10">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-354053-E-1_v01.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN858127">
                <a href="/en-us/products/an858127.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM openwork ring in 18 kt white gold with an aquamarine and set with pavé diamonds (0.85 ct).</p>
                    <div class="size-box">
                        <label for="size_g2_10">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_10" name="size" title="Size">
                                <option value="65" data-isinstock="false" data-sku="354073-E" data-price="$ 10,300">65</option>
                                <option value="64" data-isinstock="false" data-sku="354072-E" data-price="$ 10,300">64</option>
                                <option value="63" data-isinstock="false" data-sku="354071-E" data-price="$ 10,300">63</option>
                                <option value="62" data-isinstock="false" data-sku="354070-E" data-price="$ 10,300">62</option>
                                <option value="61" data-isinstock="false" data-sku="354069-E" data-price="$ 10,300">61</option>
                                <option value="60" data-isinstock="false" data-sku="354068-E" data-price="$ 10,300">60</option>
                                <option value="59" data-isinstock="false" data-sku="354067-E" data-price="$ 10,300">59</option>
                                <option value="58" data-isinstock="false" data-sku="354066-E" data-price="$ 10,300">58</option>
                                <option value="57" data-isinstock="false" data-sku="354065-E" data-price="$ 10,300">57</option>
                                <option value="56" data-isinstock="false" data-sku="354064-E" data-price="$ 10,300">56</option>
                                <option value="55" data-isinstock="false" data-sku="354063-E" data-price="$ 10,300">55</option>
                                <option value="54" data-isinstock="false" data-sku="354062-E" data-price="$ 10,300">54</option>
                                <option value="53" data-isinstock="false" data-sku="354061-E" data-price="$ 10,300">53</option>
                                <option value="52" data-isinstock="true" data-sku="354060-E" data-price="$ 10,300" selected="selected">52</option>
                                <option value="51" data-isinstock="false" data-sku="354059-E" data-price="$ 10,300">51</option>
                                <option value="50" data-isinstock="true" data-sku="354058-E" data-price="$ 10,300">50</option>
                                <option value="49" data-isinstock="false" data-sku="354057-E" data-price="$ 10,300">49</option>
                                <option value="48" data-isinstock="false" data-sku="354056-E" data-price="$ 10,300">48</option>
                                <option value="47" data-isinstock="false" data-sku="354055-E" data-price="$ 10,300">47</option>
                                <option value="46" data-isinstock="false" data-sku="354054-E" data-price="$ 10,300">46</option>
                                <option value="45" data-isinstock="false" data-sku="354053-E" data-price="$ 10,300">45</option>
                        </select><div class="bul-select-input" data-value="52">52</div></div>
                    </div>
                    <span class="price">$ 10,300 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/11">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857987-0_v05.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center ">
            <div class="bul-valign-middle-box" data-sku="AN857987">
                <a href="/en-us/products/an857987.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt rose gold, set with a central pink sapphire and pavé diamonds (0.90 ct).</p>
                    <div class="size-box">
                        <label for="size_g2_11">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_11" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="353688-E" data-price="$ 9,250">45</option>
                                <option value="46" data-isinstock="false" data-sku="353689-E" data-price="$ 9,250">46</option>
                                <option value="47" data-isinstock="false" data-sku="353690-E" data-price="$ 9,250">47</option>
                                <option value="48" data-isinstock="false" data-sku="353691-E" data-price="$ 9,250">48</option>
                                <option value="49" data-isinstock="false" data-sku="353692-E" data-price="$ 9,250">49</option>
                                <option value="50" data-isinstock="false" data-sku="353693-E" data-price="$ 9,250">50</option>
                                <option value="51" data-isinstock="false" data-sku="353694-E" data-price="$ 9,250">51</option>
                                <option value="52" data-isinstock="false" data-sku="353695-E" data-price="$ 9,250">52</option>
                                <option value="53" data-isinstock="false" data-sku="353696-E" data-price="$ 9,250">53</option>
                                <option value="54" data-isinstock="false" data-sku="353697-E" data-price="$ 9,250">54</option>
                                <option value="55" data-isinstock="false" data-sku="353698-E" data-price="$ 9,250">55</option>
                                <option value="56" data-isinstock="false" data-sku="353699-E" data-price="$ 9,250">56</option>
                                <option value="57" data-isinstock="false" data-sku="353700-E" data-price="$ 9,250">57</option>
                                <option value="58" data-isinstock="false" data-sku="353701-E" data-price="$ 9,250">58</option>
                                <option value="59" data-isinstock="false" data-sku="353702-E" data-price="$ 9,250">59</option>
                                <option value="60" data-isinstock="false" data-sku="353703-E" data-price="$ 9,250">60</option>
                                <option value="61" data-isinstock="false" data-sku="353704-E" data-price="$ 9,250">61</option>
                                <option value="62" data-isinstock="false" data-sku="353705-E" data-price="$ 9,250">62</option>
                                <option value="63" data-isinstock="false" data-sku="353706-E" data-price="$ 9,250">63</option>
                                <option value="64" data-isinstock="false" data-sku="353707-E" data-price="$ 9,250">64</option>
                                <option value="65" data-isinstock="false" data-sku="353708-E" data-price="$ 9,250">65</option>
                        </select><div class="bul-select-input" data-value="45">45</div></div>
                    </div>
                    <span class="price">Price from $ 9,250 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/12">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN858124-0_v04.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN858124">
                <a href="/en-us/products/an858124.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM openwork ring in 18 kt rose gold with a pink tourmaline and set with pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_12">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_12" name="size" title="Size">
                                <option value="65" data-isinstock="false" data-sku="354387-E" data-price="$ 11,300">65</option>
                                <option value="64" data-isinstock="false" data-sku="354386-E" data-price="$ 11,300">64</option>
                                <option value="63" data-isinstock="false" data-sku="354385-E" data-price="$ 11,300">63</option>
                                <option value="62" data-isinstock="false" data-sku="354384-E" data-price="$ 11,300">62</option>
                                <option value="61" data-isinstock="false" data-sku="354383-E" data-price="$ 11,300">61</option>
                                <option value="60" data-isinstock="false" data-sku="354382-E" data-price="$ 11,300">60</option>
                                <option value="59" data-isinstock="false" data-sku="354381-E" data-price="$ 11,300">59</option>
                                <option value="58" data-isinstock="false" data-sku="354380-E" data-price="$ 11,300">58</option>
                                <option value="57" data-isinstock="false" data-sku="354379-E" data-price="$ 11,300">57</option>
                                <option value="56" data-isinstock="false" data-sku="354378-E" data-price="$ 11,300">56</option>
                                <option value="55" data-isinstock="false" data-sku="354377-E" data-price="$ 11,300">55</option>
                                <option value="54" data-isinstock="false" data-sku="354376-E" data-price="$ 11,300">54</option>
                                <option value="53" data-isinstock="true" data-sku="354375-E" data-price="$ 11,300" selected="selected">53</option>
                                <option value="52" data-isinstock="false" data-sku="354374-E" data-price="$ 11,300">52</option>
                                <option value="51" data-isinstock="true" data-sku="354373-E" data-price="$ 11,300">51</option>
                                <option value="50" data-isinstock="false" data-sku="354372-E" data-price="$ 11,300">50</option>
                                <option value="49" data-isinstock="false" data-sku="354371-E" data-price="$ 11,300">49</option>
                                <option value="48" data-isinstock="false" data-sku="354370-E" data-price="$ 11,300">48</option>
                                <option value="47" data-isinstock="false" data-sku="354369-E" data-price="$ 11,300">47</option>
                                <option value="46" data-isinstock="false" data-sku="354368-E" data-price="$ 11,300">46</option>
                                <option value="45" data-isinstock="false" data-sku="354367-E" data-price="$ 11,300">45</option>
                        </select><div class="bul-select-input" data-value="53">53</div></div>
                    </div>
                    <span class="price">$ 11,300 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/13">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857078-1_v08.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857078">
                <a href="/en-us/products/an857078.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM ring in 18 kt rose gold set with a central diamond and pavé diamonds.</p>
                    <div class="size-box">
                        <label for="size_g2_13">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_13" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="350742-E" data-price="$ 8,700">45</option>
                                <option value="46" data-isinstock="false" data-sku="350743-E" data-price="$ 8,700">46</option>
                                <option value="47" data-isinstock="false" data-sku="350744-E" data-price="$ 8,700">47</option>
                                <option value="48" data-isinstock="false" data-sku="350745-E" data-price="$ 8,700">48</option>
                                <option value="49" data-isinstock="false" data-sku="350746-E" data-price="$ 8,700">49</option>
                                <option value="50" data-isinstock="false" data-sku="350747-E" data-price="$ 8,700">50</option>
                                <option value="51" data-isinstock="false" data-sku="350748-E" data-price="$ 8,700">51</option>
                                <option value="52" data-isinstock="true" data-sku="350749-E" data-price="$ 8,700" selected="selected">52</option>
                                <option value="53" data-isinstock="false" data-sku="350750-E" data-price="$ 8,700">53</option>
                                <option value="54" data-isinstock="true" data-sku="350751-E" data-price="$ 8,700">54</option>
                                <option value="55" data-isinstock="false" data-sku="350752-E" data-price="$ 8,700">55</option>
                                <option value="56" data-isinstock="false" data-sku="350753-E" data-price="$ 8,700">56</option>
                                <option value="57" data-isinstock="false" data-sku="350754-E" data-price="$ 8,700">57</option>
                                <option value="58" data-isinstock="false" data-sku="350755-E" data-price="$ 8,700">58</option>
                                <option value="59" data-isinstock="false" data-sku="350756-E" data-price="$ 8,700">59</option>
                                <option value="60" data-isinstock="false" data-sku="350757-E" data-price="$ 8,700">60</option>
                                <option value="61" data-isinstock="false" data-sku="350758-E" data-price="$ 8,700">61</option>
                                <option value="62" data-isinstock="false" data-sku="350759-E" data-price="$ 8,700">62</option>
                                <option value="63" data-isinstock="false" data-sku="350760-E" data-price="$ 8,700">63</option>
                                <option value="64" data-isinstock="false" data-sku="350761-E" data-price="$ 8,700">64</option>
                                <option value="65" data-isinstock="false" data-sku="350762-E" data-price="$ 8,700">65</option>
                        </select><div class="bul-select-input" data-value="52">52</div></div>
                    </div>
                    <span class="price">$ 8,700 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
    <div class="bul-push bul-col-4-1">
        <figure class="grid-cell" data-keys="g2/14">
        <img src="https://www.bulgari.com/media/catalog/product/cache/image/440x622/16b36ab686a22cb8d3fd7e9bcb217125/D/I/DIVASDREAM-Rings-BVLGARI-AN857049-1_v06.png" alt="DIVAS’ DREAM">
        <figcaption class="hover bul-valign-wrapper bul-halign-center with-btn-add">
            <div class="bul-valign-middle-box" data-sku="AN857049">
                <a href="/en-us/products/an857049.html" class="product-link out-link">
                    <hgroup>
                        <h3 class="bgr-h4">Jewelry</h3>
                        <h3>DIVAS’ DREAM</h3>
                    </hgroup>
      <div class="discover-btn-show"> Discover </div>
          </a>
                <p class="description">DIVAS' DREAM contraire ring in 18 kt rose gold, set with black onyx and mother-of-pearl elements.</p>
                    <div class="size-box">
                        <label for="size_g2_14">Size</label>
                        <div class="bul-select-wrapper"><select class="input-select" id="size_g2_14" name="size" title="Size">
                                <option value="45" data-isinstock="false" data-sku="350238-E" data-price="$ 2,550">45</option>
                                <option value="46" data-isinstock="false" data-sku="350239-E" data-price="$ 2,550">46</option>
                                <option value="47" data-isinstock="false" data-sku="350240-E" data-price="$ 2,550">47</option>
                                <option value="48" data-isinstock="false" data-sku="350241-E" data-price="$ 2,550">48</option>
                                <option value="49" data-isinstock="true" data-sku="350242-E" data-price="$ 2,550" selected="selected">49</option>
                                <option value="50" data-isinstock="false" data-sku="350243-E" data-price="$ 2,550">50</option>
                                <option value="51" data-isinstock="true" data-sku="350244-E" data-price="$ 2,550">51</option>
                                <option value="52" data-isinstock="false" data-sku="350245-E" data-price="$ 2,550">52</option>
                                <option value="53" data-isinstock="false" data-sku="350246-E" data-price="$ 2,550">53</option>
                                <option value="54" data-isinstock="false" data-sku="350247-E" data-price="$ 2,550">54</option>
                                <option value="55" data-isinstock="false" data-sku="350248-E" data-price="$ 2,550">55</option>
                                <option value="56" data-isinstock="false" data-sku="350249-E" data-price="$ 2,550">56</option>
                                <option value="57" data-isinstock="false" data-sku="350250-E" data-price="$ 2,550">57</option>
                                <option value="58" data-isinstock="false" data-sku="350251-E" data-price="$ 2,550">58</option>
                                <option value="59" data-isinstock="false" data-sku="350252-E" data-price="$ 2,550">59</option>
                                <option value="60" data-isinstock="false" data-sku="350253-E" data-price="$ 2,550">60</option>
                                <option value="61" data-isinstock="false" data-sku="350254-E" data-price="$ 2,550">61</option>
                                <option value="62" data-isinstock="false" data-sku="350255-E" data-price="$ 2,550">62</option>
                                <option value="63" data-isinstock="false" data-sku="350256-E" data-price="$ 2,550">63</option>
                                <option value="64" data-isinstock="false" data-sku="350257-E" data-price="$ 2,550">64</option>
                                <option value="65" data-isinstock="false" data-sku="350258-E" data-price="$ 2,550">65</option>
                        </select><div class="bul-select-input" data-value="49">49</div></div>
                    </div>
                    <span class="price">$ 2,550 </span>
            </div>
                <a href="#" class="btn-addtobag bul-valign-wrapper bul-halign-center">
                    <span class="bul-valign-middle-box">add to shopping bag</span>
                </a>
            <button class="btn-wish"></button>
        </figcaption>
</figure>

    </div>
<a href="#" class="bul-btn-more" data-key="g2">see more (<span class="rest">7</span>)</a>
</section>
